@use '../../../abstracts/config' as *;
@use '../../../abstracts/mixins' as *;

@use '../../../abstracts/palette' as *;
@use 'sass:map';

$compPrefix: 'dru--input';

$textarea-sizes: (
    sm: (fontSize: 14px, slotSpacingX: 8px, slotSpacingTop: 8px, fieldYSpacing: 6px, slotGap: 4px),
    md: (fontSize: 16px, slotSpacingX: 16px, slotSpacingTop: 12px, fieldYSpacing: 9px, slotGap: 6px),
    lg: (fontSize: 18px, slotSpacingX: 24px, slotSpacingTop: 16px, fieldYSpacing: 12px, slotGap: 8px),
);

$input-sizes: (
    sm: (height: 32px, fontSize: 14px, slotSpacingX: 8px, fieldXSpacing: 8px, slotGap: 4px),
    md: (height: 40px, fontSize: 16px, slotSpacingX: 16px, fieldXSpacing: 12px, slotGap: 6px),
    lg: (height: 48px, fontSize: 18px, slotSpacingX: 24px, fieldXSpacing: 16px, slotGap: 8px),
);

@mixin intent-vars($palette, $palette-name) {
    @each $step, $value in $palette {
        --intent-#{
            $palette-name
        }-#{$step}: #{$value};
    }
}

.#{$compPrefix} {
    @include intent-vars($red, red);
    @include intent-vars($blue, blue);
    @include intent-vars($neutral, neutral);
    @include intent-vars($gray, gray);

    --icon-size: 1.1em;
    --focus-ring: #{rgba(map.get($blue, 500), 0.25)};
    --text: var(--intent-gray-900);
    --danger: var(--intent-red-500);
    --text-muted: var(--intent-gray-500);

    --bg: transparent;
    --bg-hover: var(--intent-neutral-50);

    --border: var(--intent-neutral-300);
    --border-hover: var(--intent-blue-400);
    --border-focus: var(--intent-blue-500);

    @include dark {

        --focus-ring: #{rgba(map.get($blue, 400), 0.35)};
        --text: var(--intent-gray-100);
        --danger: var(--intent-red-400);
        --text-muted: var(--intent-gray-400);

        --bg: transparent;
        --bg-hover: var(--intent-gray-800);

        --border: var(--intent-neutral-700);
        --border-hover: var(--intent-blue-500);
        --border-focus: var(--intent-blue-400);

    }

    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    min-width: 0;
    cursor: text;
    user-select: none;
    font-size: var(--font-size);

    border: 1px solid var(--border);
    background: var(--bg);
    color: var(--text);

    padding-left: var(--pl, 0);
    padding-right: var(--pr, 0);
    padding-top: var(--pt, 0);
    padding-bottom: var(--pb, 0);

    // Chrome autofill will break your design.
    //input:-webkit-autofill {
    //    box-shadow: 0 0 0 1000px var(--bg) inset;
    //    -webkit-text-fill-color: var(--text);
    //}

    min-height: var(--min-height, 40px);
    height: var(--height, auto);


    transition: border-color 0.2s ease,
    box-shadow 0.2s ease,
    background 0.2s ease,
    color 0.2s ease;

    &:hover:not([data-disabled]) {
        border-color: var(--border-hover);
        background: var(--bg-hover); // or token
    }

    &:focus-within {
        border-color: var(--border-focus);
        box-shadow: 0 0 0 3px var(--focus-ring);
    }

    /* states */
    &[data-invalid] {
        border-color: var(--danger);

        &:focus-within {
            border-color: var(--danger);
            box-shadow: 0 0 0 3px #{rgba(map.get($red, 500), 0.25)};
        }

        &:hover:not([data-disabled]) {
            border-color: var(--danger);
        }
    }

    &[data-disabled] {
        opacity: 0.6;
        cursor: not-allowed;

        .#{$compPrefix}__icon,
        .#{$compPrefix}__clear {
            pointer-events: none;
        }
    }

    &__slot {
        position: absolute;
        top: 0;

        display: flex;
        height: var(--slot-h, auto);
        gap: var(--gap);
        align-items: var(--slot-align, start);
        padding: var(--top-offset) var(--x-offset) 0px;
    }

    &__slot-start {
        left: 0;
    }

    &__slot-end {
        right: 0;
    }

    .#{$compPrefix}__field {
        appearance: none;
        border: none;
        background: transparent;
        user-select: text;
        font-size: var(--field-fs, inherit);

        padding-left: var(--field-pl, 0);
        padding-right: var(--field-pr, 0);
        padding-top: var(--field-pt, 0);
        padding-bottom: var(--field-pb, 0);

        margin: 0;

        height: var(--field-h, 100%);
        width: 100%;
        min-width: 0;

        flex: 1;

        line-height: 1;
        color: inherit;

        outline: none; /* wrapper handles focus */

        &::placeholder {
            color: var(--text-muted);
        }

        &:disabled {
            cursor: not-allowed;
        }

        &:focus,
        &:focus-visible {
            outline: none;
            box-shadow: none;
        }
    }

    // calculate padding (left/right) based on number of icons in slot (start slot/end slot + clear btn)
    @mixin field-p($field-p-var, $slot-count-var) {
        #{$field-p-var}: #{calc(
            var(--x-offset) +
            ((var(--gap) + var(--icon-size) + var(--icon-adjust)) * var(#{$slot-count-var}))
        )};
    }

    &--textarea-input {
        --icon-adjust: 2px;
        --slot-h: auto;
        align-items: stretch;

        .#{$compPrefix}__field {
            line-height: 1.4; // key difference
            resize: vertical; // allow vertical resize
            height: auto; // override input behavior
            min-height: 3em; // base height (~3 rows)
            display: block; // avoids flex issues
        }

        @each $size, $value in $textarea-sizes {
            &.#{$compPrefix}--size-#{$size} {
                --gap: #{map.get($value, slotGap)};
                --font-size: #{map.get($value, fontSize)};
                --x-offset: #{map.get($value, slotSpacingX)};
                --top-offset: #{map.get($value, slotSpacingTop)};
                --pt: #{map.get($value, fieldYSpacing)};

                &.#{$compPrefix}--has-start-adornment {
                    @include field-p('--field-pl', '--start-slot-count');
                }

                &.#{$compPrefix}--has-end-adornment, &.#{$compPrefix}--clearable {
                    @include field-p('--field-pr', '--end-slot-count');
                }
            }
        }
    }

    &--field-input {
        --icon-adjust: 2px; // adjust icon to look consistent, its just fix
        --slot-align: center;
        --slot-h: 100%;
        @each $size, $value in $input-sizes {
            &.#{$compPrefix}--size-#{$size} {

                // Slot vars
                --x-offset: #{map.get($value, slotSpacingX)}; // slot x axis offset
                --top-offset: 0px;
                --gap: #{map.get($value, slotGap)};

                // Field vars
                --field-pl: var(--x-offset); // default field padding left
                --field-pr: var(--x-offset); // default field padding right
                --height: #{map.get($value, height)};
                --field-fs: #{map.get($value, fontSize)};

                &.#{$compPrefix}--has-start-adornment {
                    @include field-p('--field-pl', '--start-slot-count');
                }

                &.#{$compPrefix}--has-end-adornment {
                    @include field-p('--field-pr', '--end-slot-count');
                }

            }
        }
    }


    &__toggle {
        appearance: none;
        border: none;
        background: transparent;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        color: var(--text-muted);

        &:hover {
            color: var(--text);
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px var(--focus-ring);
        }
    }

    .#{$compPrefix}__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap);

        color: var(--text-muted);

        > svg,
        > .MuiSvgIcon-root {
            width: var(--icon-size);
            height: var(--icon-size);
            font-size: var(--icon-size);
            display: block;
        }
    }

    .#{$compPrefix}__clear {
        appearance: none;
        border: none;
        background: transparent;
        position: relative;

        padding: 0;
        margin: 0;

        width: 1em;
        height: 1em;

        flex-shrink: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        color: var(--text-muted);

        &::before {
            content: '';
            position: absolute;

            inset: -0.4em; // 👈 expand clickable area
            border-radius: 50%;
        }

        &:hover {
            color: var(--text);
        }

        &-button {
            //position: absolute;

            //top: 50%;
            //left: 50%;
            //
            //transform: translate(-50%, -50%) scale(1.2);
            transform: scale(1.2);

            line-height: 1;

            &:focus-visible {
                box-shadow: 0 0 0 2px var(--focus-ring);
            }
        }
    }

    &--filled {
        --bg: var(--intent-gray-200);
        --bg-hover: var(--intent-gray-300);

        --border: var(--intent-gray-300);
        --border-hover: var(--intent-gray-400);
        --border-focus: var(--intent-blue-500);
    }

    &--ghost {
        --bg: transparent;
        --bg-hover: var(--intent-neutral-50);

        --border: transparent;
        --border-hover: transparent;
        --border-focus: transparent;
    }

    @include dark {

        &--outlined {
        }

        &--filled {
            --bg: var(--intent-gray-800);
            --bg-hover: var(--intent-gray-700);

            --border: var(--intent-gray-700);
            --border-hover: var(--intent-gray-600);
            --border-focus: var(--intent-blue-400);
        }

        &--ghost {
            --bg: transparent;
            --bg-hover: var(--intent-gray-800);

            --border: transparent;
            --border-hover: transparent;
            --border-focus: transparent;
        }
    }
}