@use '../../../scss/functions' as functions;
@use '../../../scss/mixins' as mixins;

@use '../../../scss/config' as cfg;
@use 'sass:map';

$p: cfg.$prefix;
$toast-prefix: #{$p}--toast;

.#{$toast-prefix} {
    &__viewport {
        position: fixed;
        top: var(--toast-offset, 1rem);
        right: var(--toast-offset, 1rem);
        z-index: 9999;

        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        width: min(400px, calc(100vw - 2rem));
        pointer-events: none;

        //&[data-position^='bottom'] {
        //    flex-direction: column-reverse;
        //}

        //&[data-position='bottom-left'],
        //&[data-position='bottom-center'],
        //&[data-position='bottom-right'] {
        //    flex-direction: row;
        //}

        &[data-position='top-left'] {
            top: var(--toast-offset, 1rem);
            left: var(--toast-offset, 1rem);
        }

        &[data-position='top-center'] {
            top: var(--toast-offset, 1rem);
            left: 50%;
            transform: translateX(-50%);
        }

        &[data-position='top-right'] {
            top: var(--toast-offset, 1rem);
            right: var(--toast-offset, 1rem);
        }

        &[data-position='bottom-left'] {
            bottom: var(--toast-offset, 1rem);
            left: var(--toast-offset, 1rem);
            //flex-direction: column-reverse;
            justify-content: flex-end;
        }

        &[data-position='bottom-center'] {
            bottom: var(--toast-offset, 1rem);
            left: 50%;
            transform: translateX(-50%);
            //flex-direction: column-reverse;
            justify-content: flex-end;
        }

        &[data-position='bottom-right'] {
            bottom: var(--toast-offset, 1rem);
            right: var(--toast-offset, 1rem);
            justify-content: flex-end;
        }
    }

    &__item-wrapper {
        height: 0;
        margin: 0;
        padding: 0;
        //overflow: hidden;
        //background-color: red;

        transition:
            height 250ms ease;

        &[data-position='bottom-right'] {

        }

        &[data-mounted] {
            height: var(--toast-height);
            //margin-bottom: 12px;
        }
    }

    &__item {
        pointer-events: auto;
        //position: absolute;

        &[data-position='bottom-right'] {
            --offcanvas-transform-from: translateY(110%);
        }

        &[data-animation='toast-bottom'] {
            &[data-animation-state='entering'] {
                animation: #{$toast-prefix}--slide-enter var(--animation-enter-duration) var(--animation-enter-easing) forwards;
            }

            &[data-animation-state='exiting'] {
                animation: #{$toast-prefix}--slide-exit var(--animation-exit-duration) var(--animation-exit-easing) forwards;
            }
        }
    }
}


/*
 * Slide
 */
@keyframes #{$toast-prefix}--slide-enter {
    from {
        transform: var(--offcanvas-transform-from);
    }

    to {
        transform: translate(0);
    }
}

@keyframes #{$toast-prefix}--slide-exit {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}
