@use '../../functions' as functions;
@use '../../mixins' as mixins;

@use '../../config' as cfg;
@use './variables.box' as *;
@use 'sass:map';

$p: cfg.$prefix;

// Grid
@for $i from 1 through 12 {
    .#{$p}--grid-#{$i} {
        display: grid;
        grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
}

// Grid column
@for $i from 1 through 12 {
    .#{$p}--col-#{$i} {
        grid-column: span #{$i};
    }
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

.#{$p} {

    // spacing
    @each $key, $value in $spacing {
        &--p-#{$key} {
            padding: $value;
        }
        &--pt-#{$key} {
            padding-top: $value;
        }
        &--pb-#{$key} {
            padding-bottom: $value;
        }
        &--pl-#{$key} {
            padding-left: $value;
        }
        &--pr-#{$key} {
            padding-right: $value;
        }
        &--px-#{$key} {
            padding-left: $value;
            padding-right: $value;
        }
        &--py-#{$key} {
            padding-top: $value;
            padding-bottom: $value;
        }

        &--m-#{$key} {
            margin: $value;
        }
        &--mt-#{$key} {
            margin-top: $value;
        }
        &--mb-#{$key} {
            margin-bottom: $value;
        }
        &--ml-#{$key} {
            margin-left: $value;
        }
        &--mr-#{$key} {
            margin-right: $value;
        }
        &--mx-#{$key} {
            margin-left: $value;
            margin-right: $value;
        }
        &--my-#{$key} {
            margin-top: $value;
            margin-bottom: $value;
        }
    }

    // gap semantic
    @each $size, $value in $semantic-spacing {
        &--gap-#{$size} {
            gap: $value;
        }
        &--row-gap-#{$size} {
            row-gap: $value;
        }
        &--col-gap-#{$size} {
            column-gap: $value;
        }
    }

    // gap
    @each $key, $value in $spacing {
        &--gap-#{$key} {
            gap: $value;
        }
        &--row-gap-#{$key} {
            row-gap: $value;
        }
        &--col-gap-#{$key} {
            column-gap: $value;
        }
    }

    // overflow
    @each $token in ('auto', 'hidden', 'scroll', 'visible') {
        &--ov-#{$token} {
            overflow: #{$token};
        }
        &--ov-x-#{$token} {
            overflow-x: #{$token};
        }
        &--ov-y-#{$token} {
            overflow-y: #{$token};
        }
    }

    // display
    @each $d in ('block', 'inline', 'inline-block', 'flex', 'grid', 'none') {
        &--d-#{$d} {
            display: #{$d};
        }
    }

    // Z-index
    @each $name, $value in $z-indexes {
        &--z-#{$name} {
            z-index: $value;
        }
    }

    // Transition
    @each $name, $value in $transition-durations {
        &--trans-d-#{$name} {
            transition-duration: $value;
        }
    }

    @each $name, $value in $transition-easings {
        &--trans-e-#{$name} {
            transition-timing-function: $value;
        }
    }

    @each $name, $value in $transition-properties {
        &--trans-p-#{$name} {
            transition-property: $value;
        }
    }

    @each $value in $positions {
        &--pos-#{$value} {
            position: $value;
        }
    }

    @each $name, $value in $inset-values {
        $name-negative: str-replace($name, '-', 'neg-');
        $safe: str-replace($name-negative, '/', '-');

        &--top-#{$safe} {
            top: $value;
        }
        &--left-#{$safe} {
            left: $value;
        }
        &--right-#{$safe} {
            right: $value;
        }
        &--bottom-#{$safe} {
            bottom: $value;
        }
    }

    // Sizes
    @each $name, $value in $size-tokens {
        $safe-name: str-replace($name, '/', '-');

        &--w-#{$safe-name} {
            width: $value;
        }
        &--h-#{$safe-name} {
            height: $value;
        }
        &--min-w-#{$safe-name} {
            min-width: $value;
        }
        &--max-w-#{$safe-name} {
            max-width: $value;
        }
        &--min-h-#{$safe-name} {
            min-height: $value;
        }
        &--max-h-#{$safe-name} {
            max-height: $value;
        }
    }

    @each $name, $ratio in $aspect-tokens {
        $safe-name: str-replace($name, '/', '-'); // convert "16/9" → "16-9"

        &--aspect-#{$safe-name} {
            aspect-ratio: $ratio;
        }
    }

    // Cursor & Pointer Events
    @each $value in (auto, pointer, move, text, not-allowed, grab, grabbing) {
        &--cursor-#{$value} {
            cursor: #{$value};
        }
    }
    &--cursor-default {
        cursor: auto;
    }

    @each $value in (auto, none) {
        &--ptr-#{$value} {
            pointer-events: #{$value};
        }
    }

    // Flex
    @each $value in (row, row-reverse, column, column-reverse) {
        &--dir-#{$value} {
            flex-direction: #{$value};
        }
    }

    @each $name, $value in $justify-values {
        &--justify-#{$name} {
            justify-content: #{$value};
        }
    }

    @each $name, $value in $align-values {
        &--align-#{$name} {
            align-items: #{$value};
        }
    }

    @each $value in (nowrap, wrap, wrap-reverse) {
        &--wrap-#{$value} {
            flex-wrap: #{$value};
        }
    }

    // Spacing
    @each $size, $value in $semantic-spacing {
        &--p-#{$size} {
            padding: $value;
        }
        &--pt-#{$size} {
            padding-top: $value;
        }
        &--pb-#{$size} {
            padding-bottom: $value;
        }
        &--pl-#{$size} {
            padding-left: $value;
        }
        &--pr-#{$size} {
            padding-right: $value;
        }
        &--px-#{$size} {
            padding-left: $value;
            padding-right: $value;
        }
        &--py-#{$size} {
            padding-top: $value;
            padding-bottom: $value;
        }
        &--m-#{$size} {
            margin: $value;
        }
        &--mt-#{$size} {
            margin-top: $value;
        }
        &--mb-#{$size} {
            margin-bottom: $value;
        }
        &--ml-#{$size} {
            margin-left: $value;
        }
        &--mr-#{$size} {
            margin-right: $value;
        }
        &--mx-#{$size} {
            margin-left: $value;
            margin-right: $value;
        }
        &--my-#{$size} {
            margin-top: $value;
            margin-bottom: $value;
        }
    }

    @each $name, $value in $shadows {
        &--shadow-#{$name} {
            box-shadow: $value;

            @include cfg.dark {
                box-shadow: map.get($shadows-dark, $name);
            }
        }
    }

    @each $name, $value in $radii {
        &--rounded-#{$name} {
            border-radius: $value;
        }
        &--rounded-top-left-#{$name} {
            border-top-left-radius: $value;
        }
        &--rounded-top-right-#{$name} {
            border-top-right-radius: $value;
        }
        &--rounded-bottom-left-#{$name} {
            border-bottom-left-radius: $value;
        }
        &--rounded-bottom-right-#{$name} {
            border-bottom-right-radius: $value;
        }
        &--rounded-left-#{$name} {
            border-top-left-radius: $value;
            border-bottom-left-radius: $value;
        }
        &--rounded-top-#{$name} {
            border-top-left-radius: $value;
            border-top-right-radius: $value;
        }
        &--rounded-right-#{$name} {
            border-top-right-radius: $value;
            border-bottom-right-radius: $value;
        }
        &--rounded-bottom-#{$name} {
            border-bottom-left-radius: $value;
            border-bottom-right-radius: $value;
        }
    }

    /* font size */
    @each $name, $value in $font-sizes {
        &--fs-#{$name} {
            font-size: $value;
        }
    }

    /* font weight */
    @each $name, $value in $font-weights {
        &--fw-#{$name} {
            font-weight: $value;
        }
    }

    /* line height */
    @each $name, $value in $line-heights {
        &--lh-#{$name} {
            line-height: $value;
        }
    }

    /* letter spacing */
    @each $name, $value in $letter-spacings {
        &--ls-#{$name} {
            letter-spacing: $value;
        }
    }

    /* border width */
    @each $name, $value in $border-widths {
        &--bw-#{$name} {
            border-width: $value;
        }
    }


    // NEW
    /////////////////////////////////////////

    // text align
    @each $name, $value in $text-alignments {
        &--text-#{$name} {
            text-align: $value;
        }
    }

    // text transform
    @each $name, $value in $text-transforms {
        &--text-#{$name} {
            text-transform: $value;
        }
    }

    // text decoration
    @each $name, $value in $text-decorations {
        &--text-decoration-#{$name} {
            text-decoration: $value;
        }
    }

    // white space
    @each $name, $value in $white-spaces {
        &--ws-#{$name} {
            white-space: $value;
        }
    }

    // text overflow
    @each $name, $value in $text-overflows {
        &--text-overflow-#{$name} {
            text-overflow: $value;
        }
    }

    // word break
    @each $name, $value in $word-breaks {
        &--break-#{$name} {
            word-break: $value;
        }
    }

    // overflow wrap
    @each $name, $value in $overflow-wraps {
        &--wrap-#{$name} {
            overflow-wrap: $value;
        }
    }

    // font style
    @each $name, $value in $font-styles {
        &--font-#{$name} {
            font-style: $value;
        }
    }

    // opacity
    @each $name, $value in $opacities {
        &--opacity-#{$name} {
            opacity: $value;
        }
    }

    // visibility
    @each $name, $value in $visibilities {
        &--visibility-#{$name} {
            visibility: $value;
        }
    }

    // user select
    @each $name, $value in $user-selects {
        &--select-#{$name} {
            user-select: $value;
        }
    }

    // disable appearance
    &--appearance-none {
        appearance: none;
    }

    // textarea resize
    @each $name, $value in $resizes {
        &--resize-#{$name} {
            resize: $value;
        }
    }

    // media
    @each $name, $value in $object-fits {
        &--object-#{$name} {
            object-fit: $value;
        }
    }

    // border style
    @each $name, $value in $border-styles {
        &--border-#{$name} {
            border-style: $value;
        }
    }

    &--truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &--grow {
        flex-grow: 1;
    }

    &--grow-0 {
        flex-grow: 0;
    }

    &--shrink {
        flex-shrink: 1;
    }

    &--shrink-0 {
        flex-shrink: 0;
    }

    // Align self
    @each $name, $value in $self-alignments {
        &--self-#{$name} {
            align-self: $value;
        }
    }

    &--isolate {
        isolation: isolate;
    }

    &--scroll-smooth {
        scroll-behavior: smooth;
    }
}