@use '../../../scss/functions/common' as *;

@mixin solid($intent, $mode: 'light') {
    @if ($mode == 'light') {
        --badge-bg: #{intent($intent, 500)};
        --badge-text-color: #{intent($intent, 0)};
    } @else {
        --badge-bg: #{intent($intent, 600)};
        --badge-text-color: #{intent($intent, 50)};
    }
}

@mixin base($intent, $mode: 'light') {
    @if ($mode == 'light') {
        --badge-bg: #{intent($intent, 100)};
        --badge-text-color: #{intent($intent, 700)};
        --badge-border-color: #{intent($intent, 200)};
    } @else {
        --badge-bg: #{intent($intent, 900)};
        --badge-text-color: #{intent($intent, 200)};
        --badge-border-color: #{intent($intent, 700)};
    }
}

@mixin outlined($intent, $mode: 'light') {
    @if ($mode == 'light') {
        --badge-text-color: #{intent($intent, 600)};
        --badge-border-color: #{intent($intent, 300)};
    } @else {
        --badge-text-color: #{intent($intent, 300)};
        --badge-border-color: #{intent($intent, 700)};
    }
}

@mixin dot($intent, $mode: 'light') {
    @if ($mode == 'light') {
        --badge-bg: #{intent($intent, 500)};
        --badge-border-color: transparent;
    } @else {
        --badge-bg: #{intent($intent, 400)};
        --badge-border-color: transparent;
    }
}