@use './badge-conf' as *;
@use './badge-vars' as *;
@use './badge-mixins' as *;
@use '../../../scss/mixins/mode' as *;
@use 'sass:map';

.#{$badge-prefix} {

    border: 1px solid var(--border-color, transparent);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    align-self: center;

    line-height: 1;
    font-weight: 500;
    white-space: nowrap;

    background-color: var(--bg, transparent);
    color: var(--text-color);

    .__content {
        display: inline-flex;
        align-items: center;
    }

    &--numeric {
        min-width: 1.5em;

        .#{$badge-prefix}--content {
            font-variant-numeric: tabular-nums;
        }
    }

    &--dot {
        padding: 0;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        flex-shrink: 0;

        @each $size, $values in $sizes {
            &.#{$badge-prefix}--size-#{$size} {
                padding: 0;
            }
        }
    }

    @each $size, $value in $dot-scale {
        &--size-#{$size}.#{$badge-prefix}--dot {
            width: $value;
            height: $value;
        }
    }

    @each $size, $values in $sizes {
        &--size-#{$size} {
            font-size: map.get($values, font-size);
            padding: map.get($values, padding-y) map.get($values, padding-x);
        }
    }

    @each $intent in $intents {
        &[data-intent='#{$intent}'] {

            &[data-variant='solid'] {
                @include solid($intent);
            }
            &[data-variant='base'] {
                @include base($intent);
            }
            &[data-variant='outlined'] {
                @include outlined($intent);
            }
            &[data-variant='ghost'] {
                @include ghost($intent);
            }

            //&--dot {
            //    background-color: var(--intent-500);
            //}

            @include dark {

                &[data-variant='solid'] {
                    @include solid($intent, 'dark');
                }
                &[data-variant='base'] {
                    @include base($intent, 'dark');
                }
                &[data-variant='outlined'] {
                    @include outlined($intent, 'dark');
                }
                &[data-variant='ghost'] {
                    @include ghost($intent, 'dark');
                }

                // DOT
                //&--dot {
                //    background-color: var(--intent-400);
                //}
            }
        }
    }
}