@use './accordion-conf' as *;
@use '../../../scss/mixins/mode' as *;
@use '../../../scss/functions/common' as *;
@use './accordion-vars' as *;
@use 'sass:map';

.#{$accordion-prefix} {

    @each $density, $conf in $densities {
        &[data-density='#{$density}'] {
            //--accordion-padding-y: #{map.get($conf, padding-y)};
            //--accordion-padding-x: #{map.get($conf, padding-x)};
            //--accordion-icon-size: #{map.get($conf, icon-size)};

            --accordion-trigger-padding-y: #{map.get($conf, trigger-y)};
            --accordion-trigger-padding-x: #{map.get($conf, trigger-x)};

            --accordion-content-padding-y: #{map.get($conf, content-y)};
            --accordion-content-padding-x: #{map.get($conf, content-x)};
        }
    }

    // -------------------------------------------------------------------------
    // Base variables
    // -------------------------------------------------------------------------

    --accordion-padding-y: 1rem;
    --accordion-padding-x: 1.25rem;

    //--accordion-body-padding-y: var(--accordion-padding-y);
    //--accordion-body-padding-x: var(--accordion-padding-x);
    //
    //--accordion-trigger-padding-y: var(--accordion-padding-y);
    //--accordion-trigger-padding-x: var(--accordion-padding-x);

    --accordion-border-width: 1px;
    --accordion-ring: var(--#{$p}-accent-primary);

    --accordion-icon-size: 1.2em;
    --accordion-icon-transform: rotate(-180deg);

    // -------------------------------------------------------------------------
    // Colors
    // -------------------------------------------------------------------------

    --accordion-color: #{intent(gray, 900)};
    --accordion-bg: transparent;

    --accordion-border-color: #{intent(gray, 300)};

    --accordion-trigger-color: var(--accordion-color);
    --accordion-trigger-bg: #{intent(gray, 100)};
    --accordion-trigger-bg-hover: #{intent(gray, 200)};

    --accordion-trigger-active-bg: #{intent(primary, 200)};
    --accordion-trigger-active-bg-hover: #{intent(primary, 250)};
    --accordion-trigger-active-color: #{intent(primary, 800)};

    --accordion-content-bg: transparent;
    --accordion-content-color: var(--accordion-color);

    --accordion-icon-color: var(--accordion-color);
    --accordion-icon-active-color: var(--accordion-trigger-active-color);

    @include dark {
        --accordion-color: #{intent(gray, 100)};
        --accordion-bg: transparent;

        --accordion-border-color: #{intent(gray, 800)};

        --accordion-trigger-color: var(--accordion-color);
        --accordion-trigger-bg: #{intent(gray, 900)};
        --accordion-trigger-bg-hover: #{intent(gray, 800)};

        --accordion-trigger-active-bg: #{intent(primary, 800)};
        --accordion-trigger-active-bg-hover: #{intent(primary, 750)};
        --accordion-trigger-active-color: #{intent(primary, 0)};

        --accordion-content-bg: transparent;
        --accordion-content-color: var(--accordion-color);
    }

    // -------------------------------------------------------------------------
    // Base properties
    // -------------------------------------------------------------------------

    display: flex;
    flex-direction: column;

    background-color: var(--accordion-bg);
    color: var(--accordion-color);

    border:
        var(--accordion-border-width)
        solid
        var(--accordion-border-color);

    overflow: hidden;

    // -------------------------------------------------------------------------
    // Subtags
    // -------------------------------------------------------------------------

    .#{$accordion-prefix} {
        &__item {
            //border-radius: inherit;
            border-bottom:
                var(--accordion-border-width)
                solid
                var(--accordion-border-color);

            &:last-child {
                border-bottom: none;
            }

            //&[data-state='open'] {
            //    .#{$accordion-prefix}__trigger {
            //        background-color: var(--accordion-trigger-active-bg);
            //        color: var(--accordion-trigger-active-color);
            //
            //        border-top-left-radius: inherit;
            //        border-top-right-radius: inherit;
            //        border-bottom-left-radius: 0;
            //        border-bottom-right-radius: 0;
            //    }
            //}

            &:first-child {
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }

            &:last-child {
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;

                overflow: hidden;
            }
            &[data-disabled] {
                opacity: 0.6;
            }
        }

        &__trigger {

            --collapse-trigger-transition-custom: var(--accordion-trigger-duration) var(--accordion-trigger-duration);
            --collapse-trigger-transition: var(--#{$p}-duration-normal) var(--#{$p}-ease-standard);

            border-radius: inherit;

            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            cursor: pointer;

            background-color: var(--accordion-trigger-bg);
            color: var(--accordion-trigger-color);

            border: none;
            outline: none;

            text-align: left;

            padding:
                var(--accordion-trigger-padding-y)
                var(--accordion-trigger-padding-x);

            //transition: var(--accordion-transition);
            transition:
                background-color var(--collapse-trigger-transition),
                color var(--collapse-trigger-transition);

            &:not([data-disabled]):not([data-not-closable]):hover {
                &:not([data-state='open']) {
                    background-color: var(--accordion-trigger-bg-hover);
                }
                &[data-state='open'] {
                    background-color: var(--accordion-trigger-active-bg-hover);
                }
            }

            &:not([data-disabled]):focus-visible {
                outline: 2px solid var(--accordion-ring);
                outline-offset: -2px;
            }

            &[data-state='open'] {
                background-color: var(--accordion-trigger-active-bg);
                color: var(--accordion-trigger-active-color);

                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            &[data-disabled] {
                cursor: not-allowed;
            }

            &[data-not-closable] {
                cursor: default;
                .#{$accordion-prefix}__chevron {
                    opacity: 0.6;
                }
            }
        }

        &__chevron {
            flex-shrink: 0;

            width: var(--accordion-icon-size);
            height: var(--accordion-icon-size);
            font-size: var(--accordion-icon-size);

            color: var(--accordion-icon-color);

            opacity: 0.8;

            transition: transform var(--collapse-trigger-transition-custom);

            &[data-state='open'] {
                transform: var(--accordion-icon-transform);
                opacity: 1;
                color: var(--accordion-icon-active-color);
            }
        }

        &__content {
            overflow: hidden;

            background-color: var(--accordion-content-bg);
            color: var(--accordion-content-color);

            padding:
                var(--accordion-content-padding-y)
                var(--accordion-content-padding-x);
        }
    }
}