@use './accordion-conf' as *;
@use '../../../scss/mixins/mode' as *;
@use '../../../scss/functions/common' as *;
@use './accordion-vars' as *;
@use './accordion-mixins' as *;
@use 'sass:map';

// -------------------------------------------------------------------------
// CSS Variables
// -------------------------------------------------------------------------
//
// Layout
// --accordion-border-width
// --accordion-trigger-padding-y
// --accordion-trigger-padding-x
// --accordion-content-padding-y
// --accordion-content-padding-x
//
// Colors
// --accordion-color
// --accordion-bg
// --accordion-border-color
// --accordion-trigger-color
// --accordion-trigger-bg
// --accordion-trigger-bg-hover
// --accordion-trigger-active-bg
// --accordion-trigger-active-bg-hover
// --accordion-trigger-active-color
// --accordion-content-bg
// --accordion-content-color
// --accordion-icon-color
// --accordion-icon-active-color
// --accordion-ring
//
// Icon
// --accordion-icon-size
// --accordion-icon-transform
//
// Motion
// --accordion-trigger-duration
// --accordion-trigger-easing
// -------------------------------------------------------------------------

.#{$accordion-prefix} {

    @include setDensity(map.get($densities, md));

    @each $density, $conf in $densities {
        &[data-density='#{$density}'] {
            @include setDensity($conf);
        }
    }

    // -------------------------------------------------------------------------
    // Base variables
    // -------------------------------------------------------------------------

    --accordion-border-width: 1px;
    --accordion-ring: var(--#{$p}-accent-primary);

    --accordion-icon-size: 1.2em;
    --accordion-icon-transform: rotate(-180deg);

    // -------------------------------------------------------------------------
    // Base properties
    // -------------------------------------------------------------------------

    display: flex;
    flex-direction: column;

    background-color: var(--accordion-bg);
    color: var(--accordion-color);

    border: var(--accordion-border-width) solid var(--accordion-border-color);

    overflow: hidden;

    // -------------------------------------------------------------------------
    // Subtags
    // -------------------------------------------------------------------------

    .#{$accordion-prefix} {
        &__item {
            //border-radius: inherit;
            border-bottom: var(--accordion-border-width) solid var(--accordion-border-color);

            &:last-child {
                border-bottom: none;
            }

            &:first-child {
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }

            &:last-child {
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;

                overflow: hidden;
            }

            &[data-disabled] {
                opacity: 0.6;
            }
        }

        &__trigger {

            --collapse-trigger-transition-custom: var(--accordion-trigger-duration) var(--accordion-trigger-easing);
            --collapse-trigger-transition: var(--#{$p}-duration-normal) var(--#{$p}-ease-standard);

            border-radius: inherit;

            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            cursor: pointer;

            background-color: var(--accordion-trigger-bg);
            color: var(--accordion-trigger-color);

            border: none;
            outline: none;

            text-align: left;

            padding: var(--accordion-trigger-padding-y) var(--accordion-trigger-padding-x);

            //transition: var(--accordion-transition);
            transition: background-color var(--collapse-trigger-transition),
            color var(--collapse-trigger-transition);

            &:not([data-disabled]):not([data-not-closable]):hover {
                background-color: var(--accordion-trigger-bg-hover);

                &[data-state='open'] {
                    background-color: var(--accordion-trigger-active-bg-hover);
                }
            }

            &:not([data-disabled]):focus-visible {
                outline: 2px solid var(--accordion-ring);
                outline-offset: -2px;
            }

            &[data-state='open'] {
                background-color: var(--accordion-trigger-active-bg);
                color: var(--accordion-trigger-active-color);

                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            &[data-disabled] {
                cursor: not-allowed;
            }

            &[data-not-closable] {
                cursor: default;

                .#{$accordion-prefix}__chevron {
                    opacity: 0.6;
                }
            }
        }

        &__chevron {
            flex-shrink: 0;

            width: var(--accordion-icon-size);
            height: var(--accordion-icon-size);
            font-size: var(--accordion-icon-size);

            color: var(--accordion-icon-color);

            opacity: 0.8;

            transition: transform var(--collapse-trigger-transition-custom);

            &[data-state='open'] {
                transform: var(--accordion-icon-transform);
                opacity: 1;
                color: var(--accordion-icon-active-color);
            }
        }

        &__content {
            overflow: hidden;

            background-color: var(--accordion-content-bg);
            color: var(--accordion-content-color);

            padding: var(--accordion-content-padding-y) var(--accordion-content-padding-x);
        }
    }

    @include subtle();

    &[data-variant='subtle'] {
        @include subtle();
    }

    &[data-variant='outline'] {
        @include outline();
    }

    &[data-variant='solid'] {
        @include solid();
    }

    &[data-variant='ghost'] {
        @include ghost();
    }

    @include dark {
        @include subtle('dark');

        &[data-variant='subtle'] {
            @include subtle('dark');
        }

        &[data-variant='outline'] {
            @include outline('dark');
        }

        &[data-variant='solid'] {
            @include solid('dark');
        }

        &[data-variant='ghost'] {
            @include ghost('dark');
        }
    }

}