@use '../../../../scss/mixins' as mixins;
@use '../../../../scss/config' as cfg;
@use './field-config' as *;
@use 'sass:map';

@mixin dark {
    @include cfg.dark {
        @content;
    }
}

@mixin applySize($conf) {
    --fr-gap: #{map.get($conf, gap)};
    --fr-action-gap: #{map.get($conf, actionsGap)};
    --fr-control-gap: #{map.get($conf, controlGap)};
    --fr-spacing-x: #{map.get($conf, spacingX)};
    --fr-fs: #{map.get($conf, fontSize)};
}

@mixin actionButton {
    @include mixins.reset-button;

    will-change: transform;

    position: relative;
    border-radius: 3px;

    width: 1.2em;
    height: 1.2em;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    > span,
    > .#{$p}--icon {
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .#{$p}--icon {
        width: 100%;
        height: 100%;
        > svg,
        > .MuiSvgIcon-root {
            width: var(--fr-icon-size);
            height: var(--fr-icon-size);
            font-size: var(--fr-icon-size);
            display: block;
        }
    }

    transition:
        color var(--fr-transition),
        box-shadow var(--fr-transition),
        transform var(--fr-transition-active);

    &::before {
        content: '';
        position: absolute;
        inset: calc(var(--fr-action-hit-area-offset) * -1);
        border-radius: inherit;
    }

    &:not([data-disabled]):hover {
        color: var(--fr-text);
    }

    &:not([data-disabled]):active {
        transform: translateY(1px);
        //transform: scale(0.94);
    }

    &:focus-visible {
        box-shadow: 0 0 0 2px var(--fr-focus-ring);
    }

    &[data-disabled]{
        cursor: default;
    }
}