@use './field-functions' as *;
@use './field-config' as *;
@use './field-mixins' as *;
@use './field-vars' as *;
@use 'sass:map';

.#{$field-root} {

    @include applySize(map.get($sizes, md));
    @each $size, $value in $sizes {
        &[data-size='#{$size}'] {
            @include applySize($value);
        }
    }

    --fr-transition: var(--#{$p}-duration-normal) var(--#{$p}-ease-standard);
    --fr-transition-active: var(--#{$p}-duration-fast) var(--#{$p}-ease-press);
    --fr-icon-size: 1.1em;

    // field
    //--fr-field-pl: calc(var(--fr-spacing-x) + var(--fr-start-width) + var(--fr-gap));
    //--fr-field-pr: calc(var(--fr-spacing-x) + var(--fr-end-width) + var(--fr-gap));

    --fr-field-pl: calc(var(--fr-spacing-x) + var(--fr-start-width));
    --fr-field-pr: calc(var(--fr-spacing-x) + var(--fr-end-width));

    // focus
    --fr-focus-ring: #{color-mix(
        in srgb,
        #{intent('primary', 500)} 28%,
        transparent
    )};
    --fr-focus-ring-danger: #{color-mix(
        in srgb,
        #{intent('danger', 500)} 28%,
        transparent
    )};

    // text
    --fr-text: #{intent('gray', 900)};
    --fr-text-muted: var(--#{$p}-text-muted);
    --fr-text-disabled: var(--#{$p}-text-disabled);

    // background
    --fr-bg: transparent;
    --fr-bg-hover: #{intent('gray', 100)};
    --fr-bg-active: #{intent('gray',50)};

    // border
    --fr-border: #{intent('gray', 300)};
    --fr-border-hover: #{intent('primary', 400)};
    --fr-border-focus: #{intent('primary', 500)};
    --fr-border-danger: #{intent('danger', 400)};
    --fr-border-danger-hover: #{intent('danger', 500)};
    --fr-border-danger-focus: #{intent('danger', 500)};

    //filled surface;
    --fr-filled-surface-1: #{intent('gray', 200)};
    --fr-filled-surface-2: #{intent('gray', 300)};
    --fr-filled-surface-3: #{intent('gray',400)};

    @include dark {
        // focus
        --fr-focus-ring: #{color-mix(
            in srgb,
            #{intent('primary', 400)} 40%,
            transparent
        )};

        --fr-focus-ring-danger: #{color-mix(
            in srgb,
            #{intent('danger', 400)} 40%,
            transparent
        )};

        // text
        --fr-text: #{intent('gray', 100)};

        // background
        --fr-bg-hover: #{intent('gray', 800)};
        --fr-bg-active: #{intent('gray',900)};

        // border
        --fr-border: #{intent('gray', 700)};
        --fr-border-hover: #{intent('primary', 500)};
        --fr-border-focus: #{intent('primary', 400)};
        --fr-border-danger: #{intent('danger', 300)};
        --fr-border-danger-hover: #{intent('danger', 400)};
        --fr-border-danger-focus: #{intent('danger', 400)};

        //filled surface
        --fr-filled-surface-1: #{intent('gray', 800)};
        --fr-filled-surface-2: #{intent('gray', 700)};
        --fr-filled-surface-3: #{intent('gray',600)};

    }

    --fr-group-color: var(--fr-text-muted);

    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    gap: var(--fr-gap);
    vertical-align: middle;
    align-items: center;
    min-width: 0;
    cursor: text;
    user-select: none;
    font-size: var(--fr-fs);

    padding-left: var(--fr-pl, 0);
    padding-right: var(--fr-pr, 0);
    padding-top: var(--fr-pt, 0);
    padding-bottom: var(--fr-pb, 0);

    border: 1px solid var(--fr-border);
    background: var(--fr-bg);
    color: var(--fr-text);

    //padding: 0;

    min-height: var(--fr-min-height, 40px);
    height: var(--fr-height, auto);

    transition: border-color var(--fr-transition),
    box-shadow var(--fr-transition),
    background var(--fr-transition),
    color var(--fr-transition);

    &:hover:not([data-disabled]):not([data-readonly]) {
        border-color: var(--fr-border-hover);
        background: var(--fr-bg-hover);
    }

    &[data-active] {
        border-color: var(--fr-border-hover);
        box-shadow: 0 0 0 3px var(--fr-focus-ring);
    }



    //&:focus-within {
    //    --fr-group-color: var(--fr-text);
    //    border-color: var(--fr-border-focus);
    //    box-shadow: 0 0 0 3px var(--fr-focus-ring);
    //}

    //&:focus,
    //&:focus-visible {
    //    outline: none;
    //    box-shadow: none;
    //}

    &[data-focus-visible-only] {
        &:has(:focus-visible) {
            --fr-group-color: var(--fr-text);
            border-color: var(--fr-border-focus);
            box-shadow: 0 0 0 3px var(--fr-focus-ring);
        }
    }

    &:not([data-focus-visible-only]) {
        &:focus-within {
            --fr-group-color: var(--fr-text);
            border-color: var(--fr-border-focus);
            box-shadow: 0 0 0 3px var(--fr-focus-ring);
        }
    }

    //&:focus-visible {
    //    --fr-group-color: var(--fr-text);
    //    border-color: var(--fr-border-focus);
    //    box-shadow: 0 0 0 3px var(--fr-focus-ring);
    //}

    /* states */
    &[data-invalid] {
        --fr-focus-ring: var(--fr-focus-ring-danger);
        --fr-border: var(--fr-border-danger);
        --fr-border-hover: var(--fr-border-danger-hover);
        --fr-border-focus: var(--fr-border-danger-focus);
    }

    &[data-disabled] {
        cursor: not-allowed;
        --fr-text: var(--fr-text-disabled);
        --fr-text-muted: var(--fr-text-disabled);

        .#{$p}--slot {
            pointer-events: none;
        }
    }

    /* SLOT */
    .#{$p}--slot {
        position: absolute;
        top: 0;

        display: flex;
        height: var(--fr-slot-h, 100%);
        line-height: 1;
        align-items: var(--fr-slot-align, center);

        padding-left: var(--fr-slot-pl, 0);
        padding-right: var(--fr-slot-pr, 0);
        padding-top: var(--fr-slot-pt, 0);
        padding-bottom: var(--fr-slot-pb, 0);
    }

    .#{$p}--slot-start {
        left: var(--fr-spacing-x);
        //padding-right: 20px;
        .#{$p}--group {
            margin-right: var(--fr-gap);
        }
    }

    .#{$p}--slot-end {
        right: var(--fr-spacing-x);
    }

    .#{$p}--group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--fr-gap);
        //gap: 10px;
        color: var(--fr-group-color);

        transition: color var(--fr-transition);

        .#{$p}--group-item {
            height: 1em;
            display: inline-flex;
            align-items: center;
        }

        > svg,
        > .MuiSvgIcon-root {
            width: var(--fr-icon-size);
            height: var(--fr-icon-size);
            font-size: var(--fr-icon-size);
            display: block;
        }
    }

    .#{$p}--actions-group {
        margin-left: var(--fr-action-gap);
    }

    .#{$p}--controls-group {
        margin-left: var(--fr-control-gap);
    }

    .#{$p}--field {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        background: transparent;
        user-select: text;
        font: inherit;
        font-size: var(--fr-field-fs, inherit);
        box-sizing: border-box;

        padding-left: var(--fr-field-pl, 0);
        padding-right: var(--fr-field-pr, 0);
        padding-top: var(--fr-field-pt, 0);
        padding-bottom: var(--fr-field-pb, 0);

        margin: 0;

        border-radius: 0;

        height: var(--fr-field-h, auto);
        min-height: var(--fr-field-min-h, auto);
        width: 100%;
        min-width: 0;

        flex: 1;
        align-self: stretch; // instead of height, min-height

        line-height: var(--fr-field-lh, 1);
        color: var(--fr-text);

        outline: none; /* wrapper handles focus */

        &::placeholder {
            color: var(--fr-text-muted);
        }

        &:disabled {
            cursor: not-allowed;
        }

        &:focus,
        &:focus-visible {
            outline: none;
            box-shadow: none;
        }
    }

    &[data-variant='filled'] {
        --fr-bg: var(--fr-filled-surface-1);
        --fr-bg-hover: var(--fr-filled-surface-2);

        &:not([data-invalid]) {
            --fr-border: var(--fr-filled-surface-2);
            //--fr-border-hover: var(--fr-filled-surface-3);
            //--fr-border-focus: var(--fr-filled-surface-3);
        }
    }

    &[data-variant='ghost'] {
        --fr-bg: transparent;

        &[data-active] {
            background: var(--fr-bg-active);
        }

        &:not([data-invalid]) {
            --fr-border: transparent;
            --fr-border-hover: transparent;
            --fr-border-focus: transparent;
        }
    }

    .#{$p}--upload-button {
        @include actionButton;
    }

    .#{$p}--clear-button {
        @include actionButton;
    }

    .#{$p}--toggle-button {
        @include actionButton;
    }
}