@use './field-functions' as *;
@use './field-config' as *;
@use './field-mixins' as *;
@use './field-vars' as *;
@use 'sass:map';

.#{$field-root} {

    @include applySize(map.get($sizes, md));
    @each $size, $value in $sizes {
        &[data-size='#{$size}'] {
            @include applySize($value);
        }
    }

    --transition: var(--#{$p}-duration-normal) var(--#{$p}-ease-standard);
    --transition-active: var(--#{$p}-duration-fast) var(--#{$p}-ease-press);
    --icon-size: 1.1em;

    // field
    --field-pl: calc(var(--spacing-x) + var(--start-width) + var(--gap));
    --field-pr: calc(var(--spacing-x) + var(--end-width) + var(--gap));

    // focus
    --focus-ring: #{color-mix(
        in srgb,
        #{intent('primary', 500)} 28%,
        transparent
    )};
    --focus-ring-danger: #{color-mix(
        in srgb,
        #{intent('danger', 500)} 28%,
        transparent
    )};

    // text
    --text: #{intent('gray', 900)};
    --text-muted: var(--#{$p}-text-muted);
    --text-disabled: var(--#{$p}-text-disabled);

    // background
    --bg: transparent;
    --bg-hover: #{intent('gray', 50)};

    // border
    --border: #{intent('gray', 300)};
    --border-hover: #{intent('primary', 400)};
    --border-focus: #{intent('primary', 500)};
    --border-danger: #{intent('danger', 400)};
    --border-danger-hover: #{intent('danger', 500)};
    --border-danger-focus: #{intent('danger', 500)};

    //filled surface;
    --filled-surface-1: #{intent('gray', 200)};
    --filled-surface-2: #{intent('gray', 300)};
    --filled-surface-3: #{intent('gray',400)};

    @include dark {
        // focus
        --focus-ring: #{color-mix(
            in srgb,
            #{intent('primary', 400)} 40%,
            transparent
        )};

        --focus-ring-danger: #{color-mix(
            in srgb,
            #{intent('danger', 400)} 40%,
            transparent
        )};

        // text
        --text: #{intent('gray', 100)};

        // background
        --bg-hover: #{intent('gray', 800)};

        // border
        --border: #{intent('gray', 700)};
        --border-hover: #{intent('primary', 500)};
        --border-focus: #{intent('primary', 400)};
        --border-danger: #{intent('danger', 300)};
        --border-danger-hover: #{intent('danger', 400)};
        --border-danger-focus: #{intent('danger', 400)};

        //filled surface
        --filled-surface-1: #{intent('gray', 800)};
        --filled-surface-2: #{intent('gray', 700)};
        --filled-surface-3: #{intent('gray',600)};

    }

    --group-color: var(--text-muted);

    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    gap: var(--gap);
    vertical-align: middle;
    align-items: center;
    min-width: 0;
    cursor: text;
    user-select: none;
    font-size: var(--fs);

    padding-left: var(--pl, 0);
    padding-right: var(--pr, 0);
    padding-top: var(--pt, 0);
    padding-bottom: var(--pb, 0);

    border: 1px solid var(--border);
    background: var(--bg);
    color: var(--text);

    //padding: 0;

    min-height: var(--min-height, 40px);
    height: var(--height, auto);

    transition: border-color var(--transition),
    box-shadow var(--transition),
    background var(--transition),
    color var(--transition);

    &:hover:not([data-disabled]):not([data-readonly]) {
        border-color: var(--border-hover);
        background: var(--bg-hover);
    }

    &:focus-within {
        --group-color: var(--text);
        border-color: var(--border-focus);
        box-shadow: 0 0 0 3px var(--focus-ring);
    }

    /* states */
    &[data-invalid] {
        --focus-ring: var(--focus-ring-danger);
        --border: var(--border-danger);
        --border-hover: var(--border-danger-hover);
        --border-focus: var(--border-danger-focus);
    }

    &[data-disabled] {
        cursor: not-allowed;
        --text: var(--text-disabled);
        --text-muted: var(--text-disabled);

        .#{$p}--slot {
            pointer-events: none;
        }
    }

    /* SLOT */
    .#{$p}--slot {
        position: absolute;
        top: 0;

        display: flex;
        height: var(--slot-h, 100%);
        line-height: 1;
        align-items: var(--slot-align, center);

        padding-left: var(--slot-pl, 0);
        padding-right: var(--slot-pr, 0);
        padding-top: var(--slot-pt, 0);
        padding-bottom: var(--slot-pb, 0);
    }

    .#{$p}--slot-start {
        left: var(--spacing-x);
    }

    .#{$p}--slot-end {
        right: var(--spacing-x);
    }

    .#{$p}--group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap);
        //gap: 10px;
        color: var(--group-color);

        transition: color var(--transition);

        .#{$p}--group-item {
            height: 1em;
            display: inline-flex;
            align-items: center;
        }

        > svg,
        > .MuiSvgIcon-root {
            width: var(--icon-size);
            height: var(--icon-size);
            font-size: var(--icon-size);
            display: block;
        }
    }

    .#{$p}--actions-group {
        margin-left: var(--action-gap);
    }

    .#{$p}--controls-group {
        margin-left: var(--control-gap);
    }

    .#{$p}--field {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        background: transparent;
        user-select: text;
        font: inherit;
        font-size: var(--field-fs, inherit);

        padding-left: var(--field-pl, 0);
        padding-right: var(--field-pr, 0);
        padding-top: var(--field-pt, 0);
        padding-bottom: var(--field-pb, 0);

        margin: 0;

        border-radius: 0;

        height: var(--field-h, 100%);
        min-height: var(--field-min-h, 100%);
        width: 100%;
        min-width: 0;

        flex: 1;

        line-height: normal;
        color: var(--text);

        outline: none; /* wrapper handles focus */

        &::placeholder {
            color: var(--text-muted);
        }

        &:disabled {
            cursor: not-allowed;
        }

        &:focus,
        &:focus-visible {
            outline: none;
            box-shadow: none;
        }
    }

    &[data-variant='filled'] {
        --bg: var(--filled-surface-1);
        --bg-hover: var(--filled-surface-2);

        &:not([data-invalid]) {
            --border: var(--filled-surface-2);
            --border-hover: var(--filled-surface-3);
            --border-focus: var(--filled-surface-3);
        }
    }

    &[data-variant='ghost'] {
        --bg: transparent;

        &:not([data-invalid]) {
            --border: transparent;
            --border-hover: transparent;
            --border-focus: transparent;
        }
    }

    .#{$p}--upload-button {
        @include actionButton;
    }

    .#{$p}--clear-button {
        @include actionButton;
    }

    .#{$p}--toggle-button {
        @include actionButton;
    }
}