@use '../../../../scss/mixins/mode' as *;
@use './radio-config' as *;
@use './radio-vars' as *;
@use './radio-mixins' as *;
@use 'sass:map';

.#{$radio-prefix} {

    // Text
    --text: var(--#{$p}-text);
    --text-disabled: var(--#{$p}-text-disabled);
    --text-muted: var(--#{$p}-text-muted);

    // Shadows
    --radio-shadow: var(--#{$p}-control-shadow);
    --radio-shadow-hover: 0 0 0 3px color-mix(
        in srgb,
        var(--radio-ring) 20%,
        transparent
    );
    --radio-shadow-hover-secondary: var(--#{$p}-control-shadow-hover-secondary);
    --radio-shadow-focus: 0 0 0 2px var(--radio-control-bg),
    0 0 0 4px color-mix(
        in srgb,
        var(--radio-ring) 50%,
        transparent
    );

    --radio-transition: var(--#{$p}-duration-normal) var(--#{$p}-ease-standard);

    @include applySize(map.get($sizes, md));

    @each $size, $value in $sizes {
        &[data-size='#{$size}'] {
            @include applySize($value);
        }
    }

    display: inline-flex;
    align-items: center;
    gap: var(--radio-gap);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    position: relative;

    .#{$radio-prefix}__input {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: inherit;
        z-index: 1;
    }

    .#{$radio-prefix}__input:focus-visible + .#{$radio-prefix}__control {
        --radio-shadow: var(--radio-shadow-focus);
    }

    .#{$radio-prefix}__control {
        position: relative;
        z-index: 0;
        pointer-events: none;
        width: var(--radio-size);
        height: var(--radio-size);

        background: var(--radio-control-bg);
        border: 2px solid var(--radio-control-border);

        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        transition:
            border-color var(--radio-transition),
            box-shadow var(--radio-transition),
            background-color var(--radio-transition);

        box-shadow: var(--radio-shadow);
    }

    .#{$radio-prefix}__indicator {
        width: var(--radio-indicator);
        height: var(--radio-indicator);
        border-radius: 50%;
        background: var(--radio-indicator-bg);
        will-change: transform;

        --radio-indicator-scale: 0;
        transform: scale(
            calc(
                var(--radio-indicator-scale) *
                var(--radio-indicator-scale-checked, 1)
            )
        );
        transition:
            transform var(--radio-transition);
    }

    .#{$radio-prefix}__label {
        line-height: 1;
        font-size: 1em;
        color: var(--text);
    }

    .#{$radio-prefix}__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1;
    }

    .#{$radio-prefix}__description {
        font-size: 0.85em;
        color: var(--text-muted);
        margin-top: 2px;
    }

    &:not([data-disabled]):not(:focus-within):hover {
        --radio-shadow: var(--radio-shadow-hover-secondary);
    }

    &[data-state='checked']:not([data-disabled]):not(:focus-within):hover {
        --radio-shadow: var(--radio-shadow-hover);
    }

    &:not([data-disabled]):active {
        //--radio-control-scale: 0.97;
    }

    &[data-disabled] {
        cursor: not-allowed;

        .#{$radio-prefix}__control {
            border-color: var(--radio-control-border-disabled);
        }

        .#{$radio-prefix}__indicator {
            background: var(--radio-indicator-bg-disabled);
        }

        --text: var(--text-disabled);
        --text-muted: var(--text-disabled);
    }

    &[data-state='checked'] .#{$radio-prefix}__indicator {
        --radio-indicator-scale: 1;
    }

    &[data-state='checked']:not([data-disabled]) .#{$radio-prefix}__control {
        border-color: var(--radio-control-border-checked);
        background: var(--radio-control-bg-checked, var(--radio-control-bg));
    }

    &[data-state='checked']:not([data-disabled]) .#{$radio-prefix}__indicator {
        background: var(--radio-indicator-bg-checked, var(--radio-indicator-bg));
    }

    @each $intent in $intents {
        &[data-intent='#{$intent}'] {
            &[data-variant='solid']{
                @include solid($intent);
            }
            &[data-variant='outlined']{
                @include outlined($intent);
            }
            &[data-variant='filled']{
                @include filled($intent);
            }
            &[data-variant='ghost']{
                @include ghost($intent);
            }
        }

        @include dark {
            &[data-intent='#{$intent}'] {
                &[data-variant='solid']{
                    @include solid($intent, 'dark');
                }
                &[data-variant='outlined']{
                    @include outlined($intent, 'dark');
                }
                &[data-variant='filled']{
                    @include filled($intent, 'dark');
                }
                &[data-variant='ghost']{
                    @include ghost($intent, 'dark');
                }
            }
        }
    }
}
