@use '../../../Popover/scss/popover';
@use '../../../../scss/functions/common' as *;
@use '../../../../scss/mixins/mode' as *;

@use './dropdown-conf' as *;
@use './dropdown-vars' as *;

@use 'sass:map';

.#{$trigger-prefix} {
    --dropdown-transition: var(--#{$p}-duration-slow) var(--#{$p}-ease-standard);

    .#{$dropdown-prefix} {

        &__chevron {
            flex-shrink: 0;
            pointer-events: none;

            opacity: 0.8;

            transition: transform var(--dropdown-transition),
            opacity var(--dropdown-transition);

            &[data-opened] {
                transform: rotate(-180deg);
                opacity: 1;
            }
        }

    }

    .#{$p}--slot-end {
        pointer-events: none;
    }

    .#{$p}--field {
        text-align: left;
    }

    &:not([data-selected]) {
        .#{$p}--field {
            color: var(--#{$p}-text-muted);
        }
    }
}

.#{$content-prefix} {

    --dd-option-transition: var(--#{$p}-duration-fast) var(--#{$p}-ease-standard);

    --dd-content-bg: #{intent('gray', 200)};
    --dd-content-border: #{intent('zinc', 300)};

    --dd-option-bg: transparent;

    --dd-option-bg-hover: #{intent('zinc', 100)};
    --dd-option-bg-focus: #{intent('zinc', 150)};
    --dd-option-bg-active: #{intent('zinc', 200)};

    --dd-option-bg-selected: #{intent('primary', 100)};
    --dd-option-bg-selected-focus: #{intent('primary', 150)};
    --dd-option-bg-selected-active: #{intent('primary', 200)};

    --dd-option-text: inherit;
    --dd-option-text-focus: inherit;
    --dd-option-text-selected: #{intent('primary', 800)};
    --dd-option-text-disabled: #{intent('zinc', 500)};

    --dd-option-outline-focus: #{intent('zinc', 400)};

    @include dark {
        --dd-content-bg: #{intent('zinc', 900)};
        --dd-content-border: #{intent('zinc', 800)};

        --dd-option-bg-hover: #{intent('zinc', 800)};
        --dd-option-bg-focus: #{intent('zinc', 750)};
        --dd-option-bg-active: #{intent('zinc', 700)};

        --dd-option-bg-selected: #{intent('primary', 900)};
        --dd-option-bg-selected-focus: #{intent('primary', 800)};
        --dd-option-bg-selected-active: #{intent('primary', 700)};

        --dd-option-text-selected: #{intent('primary', 200)};
        --dd-option-text-disabled: #{intent('zinc', 500)};

        --dd-option-outline-focus: #{intent('zinc', 600)};
    }

    @each $size, $value in $sizes {
        &[data-size='#{$size}'] {
            --dd-option-height: #{map.get($value, optionHeight)};
            --dd-option-padding-x: #{map.get($value, optionPaddingX)};
            --dd-content-padding-y: #{map.get($value, contentPaddingY)};

            --dd-search-padding-x: #{map.get($value, searchPaddingX)};
            --dd-search-padding-y: #{map.get($value, searchPaddingY)};

            --dd-group-label-padding-y: #{map.get($value, groupLabelPaddingY)};
            --dd-group-label-sticky-padding-y: #{map.get($value, groupLabelStickyPaddingY)};
        }
    }

    min-width: max-content;

    //z-index: 1000;

    padding-top: var(--dd-content-padding-y);
    padding-bottom: var(--dd-content-padding-y);

    background-color: var(--dd-content-bg);
    border: 1px solid var(--dd-content-border);

    isolation: isolate;
    //backdrop-filter: blur(12px);

    .#{$dropdown-prefix}__search-wrapper {
        padding: calc(var(--dd-search-padding-y) - var(--dd-content-padding-y)) var(--dd-search-padding-x) var(--dd-search-padding-y);
    }

    .#{$dropdown-prefix}__search-results {

    }

    .#{$dropdown-prefix}__list {
        min-width: max-content;
        max-height: calc(
            var(--dd-option-height) *
            var(--dd-visible-options)
        );

        display: flex;
        flex-direction: column;

        overflow-y: auto;
        scrollbar-width: thin;
    }

    .#{$dropdown-prefix}__group {
        display: flex;
        flex-direction: column;

        //padding-top: 4px;

        &:not(:first-child) {
            margin-top: 4px;
            border-top: 1px solid var(--dd-content-border);
        }
    }

    .#{$dropdown-prefix}__group-label {
        padding: var(--dd-group-label-padding-y) var(--dd-option-padding-x);

        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1;

        text-transform: uppercase;
        letter-spacing: 0.04em;

        color: var(--dd-option-text-disabled);

        user-select: none;
        pointer-events: none;

        box-sizing: border-box;
    }

    .#{$dropdown-prefix}__group-label[data-sticky='true'] {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        padding-top: var(--dd-group-label-sticky-padding-y);
        padding-bottom: var(--dd-group-label-sticky-padding-y);

        background-color: rgb(from var(--dd-content-bg) r g b / 0.85);

        backdrop-filter: blur(8px);

        border-bottom: 1px solid var(--dd-content-border);

        isolation: isolate;
    }

    .#{$dropdown-prefix}__option {
        background-color: var(--dd-option-bg);
        height: var(--dd-option-height);
        padding: 0 var(--dd-option-padding-x);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--dd-option-text);
        transition: background-color var(--dd-option-transition),
        color var(--dd-option-transition);
        user-select: none;

        &:focus-visible {
            outline: none;
            box-shadow: none;
            background: var(--dd-option-bg-selected-focus);
        }

        &:not([data-disabled]) {
            cursor: pointer;

            &:hover {
                background: var(--dd-option-bg-hover);
            }

            &[data-pseudo-focused] {
                background: var(--dd-option-bg-focus);
                color: var(--dd-option-text-focus);

                box-shadow: inset 0 0 0 1px var(--dd-option-outline-focus);
            }

            &[data-pseudo-active] {
                background: var(--dd-option-bg-active);
            }

            &[data-selected] {
                background: var(--dd-option-bg-selected);
                color: var(--dd-option-text-selected);
                font-weight: 500;

                &[data-pseudo-active] {
                    background: var(--dd-option-bg-selected-active);
                }
            }

            &[data-selected][data-pseudo-focused] {
                background: var(--dd-option-bg-selected-focus);
            }
        }

        &[data-disabled] {
            color: var(--dd-option-text-disabled);
            cursor: default;

            opacity: 0.5;
        }
    }

}