//$sizes: (
//    xs: (
//        font-size: 0.65rem,
//        padding-x: 0.35em,
//        padding-y: 0.10em,
//        gap: 0.20em,
//    ),
//    sm: (
//        font-size: 0.70rem,
//        padding-x: 0.42em,
//        padding-y: 0.12em,
//        gap: 0.25em,
//    ),
//    md: (
//        font-size: 0.75rem,
//        padding-x: 0.50em,
//        padding-y: 0.15em,
//        gap: 0.30em,
//    ),
//    lg: (
//        font-size: 0.85rem,
//        padding-x: 0.60em,
//        padding-y: 0.20em,
//        gap: 0.35em,
//    ),
//    xl: (
//        font-size: 0.95rem,
//        padding-x: 0.72em,
//        padding-y: 0.25em,
//        gap: 0.40em,
//    ),
//);

$sizes: (
    xs: (
        font-size: 0.65rem,
        padding-x: 0.55em, // CHANGED
        padding-y: 0.20em, // CHANGED
        gap: 0.30em,       // CHANGED
    ),
    sm: (
        font-size: 0.70rem,
        padding-x: 0.65em, // CHANGED
        padding-y: 0.25em, // CHANGED
        gap: 0.35em,       // CHANGED
    ),
    md: (
        font-size: 0.75rem,
        padding-x: 0.80em, // CHANGED
        padding-y: 0.35em, // CHANGED
        gap: 0.40em,       // CHANGED
    ),
    lg: (
        font-size: 0.85rem,
        padding-x: 0.95em, // CHANGED
        padding-y: 0.45em, // CHANGED
        gap: 0.45em,       // CHANGED
    ),
    xl: (
        font-size: 0.95rem,
        padding-x: 1.10em, // CHANGED
        padding-y: 0.55em, // CHANGED
        gap: 0.50em,       // CHANGED
    ),
);

$intents: (
    primary,
    secondary,
    info,
    warning,
    success,
    danger
);

$dark-intents: (zinc, secondary, gray, slate, neutral, stone);