@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

//@mixin icon {
//    width: 1.2em;
//    height: 1.2em;
//    font-size: 1.2em;
//    display: block;
//}

@mixin icon($size: 1em) {
    width: $size;
    height: $size;
    flex-shrink: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    > svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}

@mixin scrollbar(
    $size: 8px,
    $thumb: rgba(0, 0, 0, 0.3),
    $track: transparent
) {
    @if $size <= 8px {
        scrollbar-width: thin;
    } @else {
        scrollbar-width: auto;
    }

    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-track {
        background: $track;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumb;
        border-radius: 999px;
    }
}