@use '../functions' as functions;
@use '../mixins' as mixins;

@use '../config' as cfg;
@use 'sass:map';

$p: cfg.$prefix;
$button-prefix: #{$p}--button;
$button-group-prefix: #{$button-prefix}-group;

$button-sizes: (
    xs: (height: 28px, padding-x: 10px, font-size: 0.75rem),
    sm: (height: 32px, padding-x: 12px, font-size: 0.875rem),
    md: (height: 40px, padding-x: 16px, font-size: 0.95rem),
    lg: (height: 48px, padding-x: 20px, font-size: 1rem),
    xl: (height: 56px, padding-x: 24px, font-size: 1.1rem),
);

@keyframes #{$p}-spin {
    to {
        transform: rotate(360deg);
    }
}

$intents: (indigo, violet, purple, rose, fuchsia, pink, olive, navy, brown, primary, secondary, info, warning, success, danger);

.#{$button-group-prefix} {
    display: inline-flex;

    &--orientation-vertical {
        flex-direction: column;

        .dru--button:not(:last-child):not(.dru--button--active) {
            border-bottom: none;
        }
        .dru--button.dru--button--active:not(:last-child):has(+ .dru--button--active) {
            border-bottom: none;
        }
        .dru--button--active + .dru--button:not(.dru--button--active) {
            border-top: none;
        }
    }

    &--orientation-horizontal {
        flex-direction: row;

        .dru--button:not(:last-child):not(.dru--button--active) {
            border-right: none;
        }
        .dru--button.dru--button--active:not(:last-child):has(+ .dru--button--active) {
            border-right: none;
        }
        .dru--button--active + .dru--button:not(.dru--button--active) {
            border-left: none;
        }
    }

    &--full-width {
        display: flex;
        width: 100%;

        .dru--button {
            flex: 1;
        }
    }

    &--equal-width {
        display: flex;

        .dru--button {
            flex: 1;
        }
    }

    .dru--button {
        position: relative;

        &:focus,
        &:focus-visible,
        &.is-active {
            z-index: 2;
        }
        &:hover {
            z-index: 3;
        }
    }
}

@mixin icon {
    width: 1.2em;
    height: 1.2em;
    font-size: 1.2em;
    display: block;
}

.#{$button-prefix} {

    @each $size, $props in $button-sizes {
        &[data-size='#{$size}'] {
            height: map-get($props, height);
            padding: 0 map-get($props, padding-x);
            font-size: map-get($props, font-size);
        }
    }

    --transition: var(--#{$p}-duration-normal) var(--#{$p}-ease-press);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--dru-button-gap, 0.5rem);

    font-family: inherit;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;

    border: 1px solid var(--dru-button-border);

    cursor: pointer;
    user-select: none;
    text-decoration: none;

    background-color: var(--dru-button-bg);
    color: var(--dru-button-text);

    transition: background-color var(--transition),
    color var(--transition),
    border-color var(--transition),
    box-shadow var(--transition);

    &:not([data-disabled]) {
        &:hover {
            background-color: var(--#{$p}-button-bg-hover);
            color: var(--#{$p}-button-text-hover, --dru-button-text);
        }

        &:active {
            background-color: var(--#{$p}-button-bg-active);
            color: var(--#{$p}-button-text-active, --dru-button-text);
        }
    }

    .#{$button-prefix}__loader {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        min-width: 1em;
    }

    &[data-loading] {
        pointer-events: none;
        cursor: wait;
        position: relative;
    }

    &[data-loading-position='center'] {
        .#{$button-prefix}__loader {
            position: absolute;
            inset: 0;
            margin: auto;
        }

        .#{$button-prefix}__content {
            visibility: hidden;
        }
    }

    &[data-loading-position='start'] {
        .#{$button-prefix}__loader {
            margin-right: 0.5em;
        }
    }

    &[data-loading-position='end'] {
        .#{$button-prefix}__loader {
            margin-left: 0.5em;
        }
    }

    &:focus-visible {
        outline: 2px solid var(--dru-button-ring);
        outline-offset: 2px;
    }

    &[data-no-interaction] {
        cursor: default;
        pointer-events: none;
        filter: none;
        text-decoration: none;
        transition: none;
    }

    &[data-disabled] {
        cursor: not-allowed;
        opacity: 0.8;
        transition: none;
    }

    &[data-icon-only] {
        padding: 0;
        aspect-ratio: 1;

        .#{$button-prefix}__icon {
            display: none;
        }
    }

    .#{$button-prefix}__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        > svg,
        > .MuiSvgIcon-root {
            @include icon;
        }
    }

    .#{$button-prefix}__content {
        > svg,
        > .MuiSvgIcon-root {
            @include icon;
        }
    }

    &[data-numeric] {
        font-variant-numeric: tabular-nums;
        padding-inline: 0;
        aspect-ratio: 1;
        &[data-long-number] {
            aspect-ratio: auto;
            padding: 0 0.5rem;
        }
    }

    @each $intent in $intents {
        &[data-intent='#{$intent}'] {

            --#{$p}-button-ring: #{functions.intent-color($intent, 600)};

            &[data-variant='solid'] {
                --#{$p}-button-bg: #{functions.intent-color($intent, 600)};
                --#{$p}-button-bg-hover: #{functions.intent-color($intent, 700)};
                --#{$p}-button-bg-active: #{functions.intent-color($intent, 800)};

                --#{$p}-button-text: #{functions.intent-color($intent, 0)};
                --#{$p}-button-text-hover: var(--#{$p}-button-text);
                --#{$p}-button-text-active: var(--#{$p}-button-text);
                --#{$p}-button-border: transparent;

                &[data-active] {
                    --#{$p}-button-bg: #{functions.intent-color($intent, 800)};
                    --#{$p}-button-bg-hover: #{functions.intent-color($intent, 900)};
                    --#{$p}-button-bg-active: #{functions.intent-color($intent, 950)};
                }

                &[data-disabled] {
                    --#{$p}-button-bg: #{functions.intent-color($intent, 200)};
                    --#{$p}-button-text: #{functions.intent-color($intent, 500)};
                }
            }

            &[data-variant='base'] {
                --#{$p}-button-bg: #{functions.intent-color($intent, 200)};
                --#{$p}-button-bg-hover: #{functions.intent-color($intent, 300)};
                --#{$p}-button-bg-active: #{functions.intent-color($intent, 400)};

                --#{$p}-button-text: #{functions.intent-color($intent, 900)};
                --#{$p}-button-text-hover: var(--#{$p}-button-text);
                --#{$p}-button-text-active: var(--#{$p}-button-text);
                --#{$p}-button-border: #{functions.intent-color($intent, 400)};

                &[data-active] {
                    --#{$p}-button-bg: #{functions.intent-color($intent, 300)};
                    --#{$p}-button-bg-hover: #{functions.intent-color($intent, 400)};
                    --#{$p}-button-bg-active: #{functions.intent-color($intent, 500)};

                    --#{$p}-button-border: #{functions.intent-color($intent, 500)};
                }

                &[data-disabled] {
                    --#{$p}-button-bg: #{functions.intent-color($intent, 100)};
                    --#{$p}-button-text: #{functions.intent-color($intent, 500)};
                    --#{$p}-button-border: #{functions.intent-color($intent, 300)};
                }
            }

            &[data-variant='outlined'] {
                --#{$p}-button-bg: transparent;
                --#{$p}-button-bg-hover: #{functions.intent-color($intent, 100)};
                --#{$p}-button-bg-active: #{functions.intent-color($intent, 200)};

                --#{$p}-button-text: #{functions.intent-color($intent, 600)};
                --#{$p}-button-text-hover: var(--#{$p}-button-text);
                --#{$p}-button-text-active: var(--#{$p}-button-text);

                --#{$p}-button-border: #{functions.intent-color($intent, 300)};
                --#{$p}-button-border-hover: #{functions.intent-color($intent, 500)};

                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    inset: -1px;
                    border-radius: inherit;

                    border: 1px solid var(--#{$p}-button-border-hover);

                    pointer-events: none;

                    opacity: 0;

                    transition:
                        border-color 0.15s ease,
                        opacity 0.15s ease;
                }

                &:not([data-disabled]):hover::after {
                    opacity: 1;
                }

                &[data-active] {
                    --#{$p}-button-bg: #{functions.intent-color($intent, 100)};
                    --#{$p}-button-bg-hover: #{functions.intent-color($intent, 200)};
                    --#{$p}-button-bg-active: #{functions.intent-color($intent, 300)};

                    --#{$p}-button-border: #{functions.intent-color($intent, 600)};
                    --#{$p}-button-border-hover: #{functions.intent-color($intent, 600)};

                    --#{$p}-button-text: #{functions.intent-color($intent, 700)};
                }

                &[data-disabled] {
                    --#{$p}-button-bg: transparent;
                    --#{$p}-button-text: #{functions.intent-color($intent, 400)};
                    --#{$p}-button-border: #{functions.intent-color($intent, 200)};
                    --#{$p}-button-border-hover: #{functions.intent-color($intent, 200)};
                }
            }

            &[data-variant='ghost'] {
                --#{$p}-button-bg: transparent;
                --#{$p}-button-bg-hover: #{functions.intent-color($intent, 100)};
                --#{$p}-button-bg-active: #{functions.intent-color($intent, 200)};

                --#{$p}-button-text: #{functions.intent-color($intent, 600)};
                --#{$p}-button-text-hover: #{functions.intent-color($intent, 700)};
                --#{$p}-button-text-active: #{functions.intent-color($intent, 800)};

                &[data-active] {
                    --#{$p}-button-bg: #{functions.intent-color($intent, 100)};
                    --#{$p}-button-bg-hover: #{functions.intent-color($intent, 200)};
                    --#{$p}-button-bg-active: #{functions.intent-color($intent, 300)};

                    --#{$p}-button-text: #{functions.intent-color($intent, 700)};
                    --#{$p}-button-text-hover: #{functions.intent-color($intent, 800)};
                    --#{$p}-button-text-active: #{functions.intent-color($intent, 900)};
                }

                &[data-disabled] {
                    --#{$p}-button-bg: transparent;
                    --#{$p}-button-text: #{functions.intent-color($intent, 400)};
                    --#{$p}-button-text-hover: #{functions.intent-color($intent, 400)};
                    --#{$p}-button-text-active: #{functions.intent-color($intent, 400)};
                }
            }

            &[data-variant='link'] {
                --#{$p}-button-text: #{functions.intent-color($intent, 500)};
                --#{$p}-button-text-hover: #{functions.intent-color($intent, 700)};
                --#{$p}-button-text-active: #{functions.intent-color($intent, 900)};

                &:not([data-disabled]) {
                    &:hover {
                        --#{$p}-button-text: var(--#{$p}-button-text-hover);

                        text-decoration: underline;
                    }

                    &:active {
                        --#{$p}-button-text: var(--#{$p}-button-text-active);
                    }
                }

                &[data-active] {
                    --#{$p}-button-text: #{functions.intent-color($intent, 700)};
                    --#{$p}-button-text-hover: #{functions.intent-color($intent, 900)};
                    --#{$p}-button-text-active: #{functions.intent-color($intent, 900)};

                    &:not([data-disabled]) {
                        text-decoration: underline;

                        &:hover {
                            --#{$p}-button-text: var(--#{$p}-button-text-hover);
                        }

                        &:active {
                            --#{$p}-button-text: var(--#{$p}-button-text-active);
                        }
                    }
                }

                &[data-disabled] {
                    --#{$p}-button-text: #{functions.intent-color($intent, 300)};
                    --#{$p}-button-text-hover: #{functions.intent-color($intent, 300)};
                    --#{$p}-button-text-active: #{functions.intent-color($intent, 300)};

                    text-decoration: none;
                }
            }

            @include cfg.dark {
                --#{$p}-button-ring: #{functions.intent-color($intent, 400)}; // lighter for dark bg

                &[data-variant='solid'] {
                    --#{$p}-button-bg: #{functions.intent-color($intent, 500)};
                    --#{$p}-button-bg-hover: #{functions.intent-color($intent, 400)};
                    --#{$p}-button-bg-active: #{functions.intent-color($intent, 300)};

                    --#{$p}-button-text: #0b1220;
                    --#{$p}-button-border: transparent;

                    &[data-active] {
                        --#{$p}-button-bg: #{functions.intent-color($intent, 300)};
                        --#{$p}-button-bg-hover: #{functions.intent-color($intent, 200)};
                        --#{$p}-button-bg-active: #{functions.intent-color($intent, 100)};
                    }

                    &[data-disabled] {
                        --#{$p}-button-bg: #{functions.intent-color($intent, 800)};
                        --#{$p}-button-text: #{functions.intent-color($intent, 300)};
                        --#{$p}-button-border: transparent;
                    }
                }

                &[data-variant='base'] {
                    --#{$p}-button-bg: #{functions.intent-color($intent, 800)};
                    --#{$p}-button-bg-hover: #{functions.intent-color($intent, 700)};
                    --#{$p}-button-bg-active: #{functions.intent-color($intent, 600)};

                    --#{$p}-button-text: #{functions.intent-color($intent, 100)};
                    --#{$p}-button-border: #{functions.intent-color($intent, 600)};

                    &[data-active] {
                        --#{$p}-button-bg: #{functions.intent-color($intent, 700)};
                        --#{$p}-button-bg-hover: #{functions.intent-color($intent, 600)};
                        --#{$p}-button-bg-active: #{functions.intent-color($intent, 500)};

                        --#{$p}-button-border: #{functions.intent-color($intent, 500)};
                    }

                    &[data-disabled] {
                        --#{$p}-button-bg: #{functions.intent-color($intent, 925)};
                        --#{$p}-button-text: #{functions.intent-color($intent, 400)};
                        --#{$p}-button-border: #{functions.intent-color($intent, 800)};
                    }
                }

                &[data-variant='outlined'] {
                    --#{$p}-button-bg: transparent;
                    --#{$p}-button-bg-hover: #{functions.intent-color($intent, 900)};
                    --#{$p}-button-bg-active: #{functions.intent-color($intent, 800)};

                    --#{$p}-button-text: #{functions.intent-color($intent, 300)};

                    --#{$p}-button-border: #{functions.intent-color($intent, 700)};
                    --#{$p}-button-border-hover: #{functions.intent-color($intent, 500)};

                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        inset: -1px;

                        border-radius: inherit;

                        border: 1px solid var(--#{$p}-button-border-hover);

                        pointer-events: none;

                        opacity: 0;

                        transition:
                            border-color 0.15s ease,
                            opacity 0.15s ease;
                    }

                    &:not([data-disabled]):hover::after {
                        opacity: 1;
                    }

                    &[data-active] {
                        --#{$p}-button-bg: #{functions.intent-color($intent, 900)};
                        --#{$p}-button-bg-hover: #{functions.intent-color($intent, 800)};
                        --#{$p}-button-bg-active: #{functions.intent-color($intent, 700)};

                        --#{$p}-button-border: #{functions.intent-color($intent, 500)};
                        --#{$p}-button-border-hover: #{functions.intent-color($intent, 400)};

                        --#{$p}-button-text: #{functions.intent-color($intent, 200)};
                    }

                    &[data-disabled] {
                        --#{$p}-button-bg: transparent;

                        --#{$p}-button-text: #{functions.intent-color($intent, 500)};

                        --#{$p}-button-border: #{functions.intent-color($intent, 850)};
                        --#{$p}-button-border-hover: #{functions.intent-color($intent, 850)};
                    }
                }

                &[data-variant='ghost'] {
                    --#{$p}-button-bg: transparent;
                    --#{$p}-button-bg-hover: #{functions.intent-color($intent, 900)};
                    --#{$p}-button-bg-active: #{functions.intent-color($intent, 800)};

                    --#{$p}-button-text: #{functions.intent-color($intent, 300)};
                    --#{$p}-button-text-hover: #{functions.intent-color($intent, 200)};
                    --#{$p}-button-text-active: #{functions.intent-color($intent, 100)};

                    &[data-active] {
                        --#{$p}-button-bg: #{functions.intent-color($intent, 800)};
                        --#{$p}-button-bg-hover: #{functions.intent-color($intent, 700)};
                        --#{$p}-button-bg-active: #{functions.intent-color($intent, 600)};

                        --#{$p}-button-text: #{functions.intent-color($intent, 200)};
                        --#{$p}-button-text-hover: #{functions.intent-color($intent, 100)};
                        --#{$p}-button-text-active: #{functions.intent-color($intent, 0)};
                    }

                    &[data-disabled] {
                        --#{$p}-button-bg: transparent;

                        --#{$p}-button-text: #{functions.intent-color($intent, 500)};
                        --#{$p}-button-text-hover: #{functions.intent-color($intent, 500)};
                        --#{$p}-button-text-active: #{functions.intent-color($intent, 500)};
                    }
                }

                &[data-variant='link'] {
                    --#{$p}-button-text: #{functions.intent-color($intent, 400)};
                    --#{$p}-button-text-hover: #{functions.intent-color($intent, 200)};
                    --#{$p}-button-text-active: #{functions.intent-color($intent, 100)};

                    &:not([data-disabled]) {
                        &:hover {
                            --#{$p}-button-text: var(--#{$p}-button-text-hover);

                            text-decoration: underline;
                        }

                        &:active {
                            --#{$p}-button-text: var(--#{$p}-button-text-active);
                        }
                    }

                    &[data-active] {
                        --#{$p}-button-text: #{functions.intent-color($intent, 200)};
                        --#{$p}-button-text-hover: #{functions.intent-color($intent, 100)};
                        --#{$p}-button-text-active: #{functions.intent-color($intent, 0)};

                        &:not([data-disabled]) {
                            text-decoration: underline;

                            &:hover {
                                --#{$p}-button-text: var(--#{$p}-button-text-hover);
                            }

                            &:active {
                                --#{$p}-button-text: var(--#{$p}-button-text-active);
                            }
                        }
                    }

                    &[data-disabled] {
                        --#{$p}-button-text: #{functions.intent-color($intent, 600)};
                        --#{$p}-button-text-hover: #{functions.intent-color($intent, 600)};
                        --#{$p}-button-text-active: #{functions.intent-color($intent, 600)};

                        text-decoration: none;
                    }
                }
            }

        }
    }
}