@use '../../../scss/config' as cfg;

$p: cfg.$prefix;
$collapse-prefix: #{$p}--collapse;

.#{$collapse-prefix} {
    overflow: hidden;
    transition-property: height;
    //transition-timing-function: var(--collapse-easing, ease);

    &[data-state='entering'] {
        transition-duration: var(--collapse-enter-duration, 200ms);
        transition-timing-function: var(--collapse-enter-easing, ease);
    }

    &[data-state='exiting'] {
        transition-duration: var(--collapse-exit-duration, 200ms);
        transition-timing-function: var(--collapse-exit-easing, ease);
    }

    &[data-state='exited'] {
        pointer-events: none;
    }
}