@use '../../../scss/mixins/mode' as *;
@use '../../../scss/functions/common' as *;

@mixin solid ($mode: 'light'){
    @if ($mode == 'light') {
        --popover-panel-bg: #{intent(gray, 200)};
        --popover-panel-border: #{intent(zinc, 300)};
    } @else {
        --popover-panel-bg: #{intent('zinc', 900)};
        --popover-panel-border: #{intent('zinc', 800)};
    }
}

@mixin gradient($mode: 'light') {
    @if ($mode == 'light') {
        --popover-panel-bg: #{intent(gray, 200)};
        --popover-panel-bg-secondary: #{intent(gray, 100)};
        --popover-panel-border: #{intent(zinc, 300)};
    } @else {
        --popover-panel-bg: #{intent(zinc, 900)};
        --popover-panel-bg-secondary: #{intent(zinc, 850)};
        --popover-panel-border: #{intent(zinc, 800)};
    }
}

// NEW
@mixin glass($mode: 'light') {
    @if ($mode == 'light') {
        --popover-panel-bg: rgb(255 255 255 / 0.72);
        --popover-panel-border: rgb(255 255 255 / 0.18);
        --popover-panel-blur: 12px;
    } @else {
        --popover-panel-bg: rgb(24 24 27 / 0.72);
        --popover-panel-border: rgb(255 255 255 / 0.08);
        --popover-panel-blur: 12px;
    }
}