@use '../../../scss/functions' as functions;
@use '../../../scss/mixins' as mixins;

@use '../../../scss/config' as cfg;
@use 'sass:map';

$p: cfg.$prefix;
$popover-prefix: #{$p}--popover;

.#{$popover-prefix} {
    --transition: var(--#{$p}-duration-fast) var(--#{$p}-ease-standard);

    //--panel-bg: #{functions.intent-color(gray, 200)};
    //--panel-border: #{functions.intent-color(zinc, 300)};
    //
    //@include cfg.dark {
    //    --panel-bg: #{functions.intent-color('zinc', 900)};
    //    --panel-border: #{functions.intent-color('zinc', 800)};
    //}

    position: relative;
    display: inline-flex;
    flex-direction: column;

    .#{$popover-prefix}__chevron {
        flex-shrink: 0;

        opacity: 0.8;

        transition:
            transform var(--transition),
            opacity var(--transition);

        &[data-opened] {
            transform: rotate(180deg);
            opacity: 1;
        }
    }

    &__panel {
        --panel-bg: #{functions.intent-color(gray, 200)};
        --panel-border: #{functions.intent-color(zinc, 300)};

        @include cfg.dark {
            --panel-bg: #{functions.intent-color('zinc', 900)};
            --panel-border: #{functions.intent-color('zinc', 800)};
        }

        position: absolute;
        z-index: 1000;

        //min-width: max-content;
        width: max-content;
        min-width: 0;
        max-width: calc(100vw - 1rem);

        //max-width: min(
        //    32rem,
        //    calc(100vw - 1rem)
        //);
        //max-width: calc(100vw - 1rem);

        outline: none;

        //background: var(--panel-bg);
        border: 1px solid var(--panel-border);
        backdrop-filter: blur(3px);

        //border-radius: inherit;

        //overflow: hidden;

        box-shadow:
            0 10px 38px rgba(0, 0, 0, 0.12),
            0 10px 20px rgba(0, 0, 0, 0.08);

        will-change:
            transform,
            opacity;

        transform-origin: var(
            --floating-transform-origin,
            top
        );

        &:focus-visible {
            outline: 2px solid var(--#{$p}-accent-primary);

        }

        &[data-animation-state='entering'] {
            opacity: 0;
            transform: scale(0.96);
        }

        &[data-animation-state='entered'] {
            opacity: 1;
            transform: scale(1);

            transition:
                opacity 120ms ease,
                transform 120ms ease;
        }

        &[data-animation-state='exiting'] {
            opacity: 0;
            transform: scale(0.96);

            transition:
                opacity 380ms ease,
                transform 380ms ease;

            pointer-events: none;
        }

        &[data-align='viewport'] {
            left: 50% !important;
            transform: translateX(-50%);
        }

        &[data-match-trigger-width] {
            width: var(--popover-trigger-width);
        }
    }

    &__panel-inner {
        display: flex;
        flex-direction: column;
    }
}

// ---------------------------------------------------------------------------
// Reduced motion
// ---------------------------------------------------------------------------

@media (prefers-reduced-motion: reduce) {
    .#{$popover-prefix} {
        &__panel {
            animation: none !important;
            transition: none !important;
        }
    }
}

// ---------------------------------------------------------------------------
// Animations
// ---------------------------------------------------------------------------

//@keyframes popover-in {
//    from {
//        opacity: 0;
//        transform: scale(0.36);
//    }
//
//    to {
//        opacity: 1;
//        transform: scale(1);
//    }
//}
//
//@keyframes popover-out {
//    from {
//        opacity: 1;
//        transform: scale(1);
//    }
//
//    to {
//        opacity: 0;
//        transform: scale(0.38);
//    }
//}