@use 'sass:map';

@mixin applySize($conf) {
    // gap between field and label/hing/error
    --ff-field-gap: #{map.get($conf, fieldGap)};

    --ff-label-fs: #{map.get($conf, labelFontSize)};
    --ff-message-fs: #{map.get($conf, messageFontSize)};

    --ff-label-lh: #{map.get($conf, labelLineHeight)};
    --ff-message-lh: #{map.get($conf, messageLineHeight)};
}