$sizes: (
    sm: (
        fieldGap: 4px,

        labelFontSize: 13px,
        messageFontSize: 12px,

        labelLineHeight: 1.3,
        messageLineHeight: 1.4,
    ),

    md: (
        fieldGap: 6px,

        labelFontSize: 14px,
        messageFontSize: 13px,

        labelLineHeight: 1.35,
        messageLineHeight: 1.45,
    ),

    lg: (
        fieldGap: 8px,

        labelFontSize: 16px,
        messageFontSize: 14px,

        labelLineHeight: 1.4,
        messageLineHeight: 1.5,
    )
);