@use '../../scss/config' as cfg;

$p: cfg.$prefix;
$collapse-prefix: #{$p}--collapse;

.#{$collapse-prefix} {
    overflow: hidden;
    transition-property: height;
    transition-timing-function: var(--collapse-easing, ease);
}

.#{$collapse-prefix}[data-state='entering'],
.#{$collapse-prefix}[data-state='entered'] {
    transition-duration: var(--collapse-enter-duration, 200ms);
}

.#{$collapse-prefix}[data-state='exiting'],
.#{$collapse-prefix}[data-state='exited'] {
    transition-duration: var(--collapse-exit-duration, 200ms);
}

.#{$collapse-prefix}[data-state='exited'] {
    pointer-events: none;
}