@use '../../Button/scss/button';
@use '../../../scss/functions/common' as *;
@use '../../../scss/config' as cfg;
@use 'sass:map';

$p: cfg.$prefix;
$carousel-prefix: #{$p}--carousel;

.#{$carousel-prefix} {
    --ring: var(--#{$p}-accent-primary);

    position: relative;

    .#{$carousel-prefix} {
        &__track {
            cursor: grab;
            scrollbar-width: none;
            -ms-overflow-style: none;

            overscroll-behavior-x: contain;

            &::-webkit-scrollbar {
                display: none;
            }

            &:active {
                cursor: grabbing;
            }

            &:focus-visible {
                outline: 2px solid var(--ring);
                outline-offset: 2px;
            }

            &[data-dragging] {
                cursor: grabbing;
            }
        }

        &__item {
            min-width: 0;
        }

        &__control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &[data-control-direction='prev'] {
                left: 5px;
            }
            &[data-control-direction='next'] {
                right: 5px;
            }
        }

        &__indicators {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__indicator {
            width: 8px;
            height: 8px;

            border: 0;
            border-radius: 999px;

            background-color: red;

            cursor: pointer;

            opacity: 0.4;

            transition: opacity 150ms ease,
            transform 150ms ease;

            &-active {
                opacity: 1;

                transform: scale(1.2);
            }
        }
    }
}