@use '../../../../scss/config' as cfg;
@use 'sass:map';

$p: cfg.$prefix;
$select-prefix: #{$p}--select;

$sizes: (
    sm: (height: 32px, fontSize: 14px),
    md: (height: 40px, fontSize: 16px),
    lg: (height: 48px, fontSize: 18px),
);

.#{$select-prefix} {

    @each $size, $value in $sizes {
        &[data-size='#{$size}'] {
            --fr-height: #{map.get($value, height)};
            --fr-min-height: auto;
            --fr-fs: #{map.get($value, fontSize)};
        }
    }

    .#{$p}--slot-end, .#{$p}--slot-start {
        pointer-events: none;
    }

    .#{$p}--field {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}