$sizes: (
    xs: (
        wrapperPadding: 1rem,
        headerPaddingX: 1rem,
        headerPaddingY: 0.75rem,
        bodyPaddingX: 1rem,
        bodyPaddingY: 0.75rem,
        footerPaddingX: 1rem,
        footerPaddingY: 0.75rem,
        gap: 0.75rem,
        borderRadius: 0.75rem,
    ),
    sm: (
        wrapperPadding: 1.25rem,
        headerPaddingX: 1.25rem,
        headerPaddingY: 0.875rem,
        bodyPaddingX: 1.25rem,
        bodyPaddingY: 0.875rem,
        footerPaddingX: 1.25rem,
        footerPaddingY: 0.875rem,
        gap: 1rem,
        borderRadius: 0.875rem,
    ),
    md: (
        wrapperPadding: 1.5rem,
        headerPaddingX: 1.5rem,
        headerPaddingY: 1rem,
        bodyPaddingX: 1.5rem,
        bodyPaddingY: 1rem,
        footerPaddingX: 1.5rem,
        footerPaddingY: 1rem,
        gap: 1rem,
        borderRadius: 1rem,
    ),
    lg: (
        wrapperPadding: 1.75rem,
        headerPaddingX: 1.75rem,
        headerPaddingY: 1.125rem,
        bodyPaddingX: 1.75rem,
        bodyPaddingY: 1rem,
        footerPaddingX: 1.75rem,
        footerPaddingY: 1.125rem,
        gap: 1.25rem,
        borderRadius: 1rem,
    ),
    xl: (
        wrapperPadding: 2rem,
        headerPaddingX: 2rem,
        headerPaddingY: 1.25rem,
        bodyPaddingX: 2rem,
        bodyPaddingY: 1.25rem,
        footerPaddingX: 2rem,
        footerPaddingY: 1.25rem,
        gap: 1.5rem,
        borderRadius: 1.25rem,
    ),
    '2xl': (
        wrapperPadding: 2rem,
        headerPaddingX: 2rem,
        headerPaddingY: 1.25rem,
        bodyPaddingX: 2rem,
        bodyPaddingY: 1.25rem,
        footerPaddingX: 2rem,
        footerPaddingY: 1.25rem,
        gap: 1.5rem,
        borderRadius: 1.25rem,
    ),
    full: (
        wrapperPadding: 1rem,
        headerPaddingX: 2rem,
        headerPaddingY: 1.25rem,
        bodyPaddingX: 2rem,
        bodyPaddingY: 1.25rem,
        footerPaddingX: 2rem,
        footerPaddingY: 1.25rem,
        gap: 1.5rem,
        borderRadius: 1.25rem,
    ),
    fullscreen: (
        wrapperPadding: 0,
        headerPaddingX: 2rem,
        headerPaddingY: 1.5rem,
        bodyPaddingX: 2rem,
        bodyPaddingY: 1.5rem,
        footerPaddingX: 2rem,
        footerPaddingY: 1.5rem,
        gap: 1.5rem,
        borderRadius: 0,
    ),
);