@use '../../../scss/config' as cfg;
@use 'sass:map';

$p: cfg.$prefix;
$heading-prefix: #{$p}--heading;


$sizes: (
    h1: (
        font-size: 32px,
        line-height: 40px,
    ),

    h2: (
        font-size: 28px,
        line-height: 36px,
    ),

    h3: (
        font-size: 24px,
        line-height: 32px,
    ),

    h4: (
        font-size: 20px,
        line-height: 28px,
    ),

    h5: (
        font-size: 18px,
        line-height: 26px,
    ),

    h6: (
        font-size: 16px,
        line-height: 24px,
    ),
);

.#{$heading-prefix} {
    margin: 0;
    font-weight: 600;

    @each $key, $conf in $sizes {
        &[data-level='#{$key}'] {
            font-size: #{map.get($conf, font-size)};
            line-height: #{map.get($conf, line-height)};
        }
    }

    &[data-level='h1'],
    &[data-level='h2'] {
        letter-spacing: -0.02em;
    }
}
