@use './switch-config' as *;
@use '../../../../scss/mixins/mode' as *;
@use './switch-vars' as *;
@use './switch-mixins' as *;
@use 'sass:map';

.#{$switch-prefix} {

    @include applySize(map.get($sizes, md));

    @each $size, $conf in $sizes {
        &[data-size="#{$size}"] {
            @include applySize($conf);
        }
    }

    @media (prefers-reduced-motion: reduce) {
        .#{$switch-prefix}__thumb,
        .#{$switch-prefix}__track {
            transition: none;
        }
    }

    --switch-transition: var(--#{$p}-duration-normal) var(--#{$p}-ease-standard);

    // Text
    --switch-text: var(--#{$p}-text);
    --switch-text-disabled: var(--#{$p}-text-disabled);
    --switch-text-muted: var(--#{$p}-text-muted);

    --switch-lh: 1.2;

    // Shadows
    --switch-shadow: var(--#{$p}-control-shadow);
    --switch-shadow-hover: 0 0 0 3px color-mix(
        in srgb,
        var(--switch-ring) 20%,
        transparent
    );
    --switch-shadow-hover-secondary: var(--#{$p}-control-shadow-hover-secondary);
    --switch-shadow-focus: 0 0 0 2px var(--#{$p}-control-bg),
    0 0 0 4px color-mix(
        in srgb,
        var(--switch-ring) 50%,
        transparent
    );

    --switch-thumb-offset: 0px;
    --switch-thumb-x: var(--switch-padding);
    --switch-thumb-scale: 1;

    position: relative;
    display: inline-flex;
    align-items: center;
    line-height: var(--switch-lh);
    gap: var(--switch-gap);
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    .#{$switch-prefix} {
        &__input {
            position: absolute;
            inset: 0;
            opacity: 0;
            cursor: inherit;
            z-index: 1;

            &:focus-visible + .#{$switch-prefix}__track {
                box-shadow: var(--switch-shadow-focus);
            }
        }
        &__label {
            line-height: var(--switch-lh);
            font-size: 1em;
            color: var(--switch-text);
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: var(--switch-lh);
        }
        &__description {
            font-size: 0.85em;
            color: var(--switch-text-muted);
            margin-top: 2px;
        }
        &__track {
            width: var(--switch-width);
            height: var(--switch-height);
            background: var(--switch-track-bg);
            border-radius: 999px;
            position: relative;
            box-sizing: border-box;
            border: 1px solid var(--switch-track-border);
            transition:
                border-color var(--switch-transition),
                background-color var(--switch-transition),
                box-shadow var(--switch-transition);
            box-shadow: var(--switch-shadow);
        }
        &__thumb {
            width: var(--switch-thumb);
            height: var(--switch-thumb);
            background: var(--switch-thumb-bg);
            border-radius: 50%;
            will-change: transform;

            position: absolute;
            top: 50%;
            left: 0;

            //margin-top: -0.01em;

            --switch-thumb-y: -50%;
            transform: translate(var(--switch-thumb-x), var(--switch-thumb-y)) scale(var(--switch-thumb-scale));
            transition: transform var(--switch-transition),
            background-color var(--switch-transition);
        }
    }

    &[data-state='checked'] {
        .#{$switch-prefix}__track {
            background-color: var(--switch-track-bg-checked, var(--switch-track-bg));
            border-color: var(--switch-track-border-checked);
        }
        .#{$switch-prefix}__thumb {
            background-color: var(--switch-thumb-bg-checked, var(--switch-thumb-bg));
        }
        --switch-thumb-x: calc(
            var(--switch-width)
            - var(--switch-thumb)
            - var(--switch-padding)
            + var(--switch-thumb-offset)
        );
    }

    &:not([data-disabled]):not([data-readonly]):active {
        --switch-thumb-scale: 0.95;
    }

    &:not([data-disabled]):not(:focus-within):hover .#{$switch-prefix}__track {
        --switch-shadow: var(--switch-shadow-hover-secondary);
    }

    &[data-state='checked']:not([data-disabled]):not(:focus-within):hover .#{$switch-prefix}__track {
        --switch-shadow: var(--switch-shadow-hover);
    }

    &[data-disabled] {
        cursor: not-allowed;
        .#{$switch-prefix}__track {
            background-color: var(--switch-track-bg-disabled);
            border-color: var(--switch-track-border-disabled);
        }
        .#{$switch-prefix}__thumb {
            background-color: var(--switch-thumb-bg-disabled);
        }

        --switch-text: var(--switch-text-disabled);
        --switch-text-muted: var(--switch-text-disabled);
    }

    @each $intent in $intents {
        &[data-intent='#{$intent}'] {
            &[data-variant='solid']{
                @include solid($intent);
            }
            &[data-variant='outlined'] {
                @include outlined($intent);
            }
            &[data-variant='soft'] {
                @include soft($intent);
            }
            &[data-variant='filled'] {
                @include filled($intent);
            }
            &[data-variant='ghost'] {
                @include ghost($intent);
            }
        }

        @include dark {
            &[data-intent='#{$intent}'] {
                &[data-variant='solid']{
                    @include solid($intent, 'dark');
                }
                &[data-variant='outlined'] {
                    @include outlined($intent, 'dark');
                }
                &[data-variant='soft'] {
                    @include soft($intent, 'dark');
                }
                &[data-variant='filled'] {
                    @include filled($intent, 'dark');
                }
                &[data-variant='ghost'] {
                    @include ghost($intent, 'dark');
                }
            }
        }
    }
}
