@use '../../../scss/functions/common' as *;
@use '../../../scss/mixins/mode' as *;
@use './text-vars' as *;
@use './text-conf' as *;
@use 'sass:map';

.#{$text-prefix} {

    @each $variant, $value in $variants {
        &[data-variant='#{$variant}'] {
            --text-fs: map.get($value, fontSize);
            --text-fw: map.get($value, fontWeight);
            --text-lh: map.get($value, lineHeight);
            --text-ls: map.get($value, letterSpacing);
        }
    }

    font-size: var(--text-fs, inherit);
    font-weight: var(--text-fw, inherit);
    line-height: var(--text-lh, inherit);
    letter-spacing: var(--text-ls, normal);

    color: var(--text-color-base, inherit);
    margin: 0;

    &[data-emphasis='subtle'] {
        color: var(--text-color-subtle, inherit);
    }

    &[data-emphasis='muted'] {
        color: var(--text-color-muted, inherit);
    }

    &[data-emphasis='strong'] {
        color: var(--text-color-strong, inherit);
    }

    &[data-mono] {
        font-family:
            ui-monospace,
            SFMono-Regular,
            SF Mono,
            Consolas,
            Liberation Mono,
            Menlo,
            monospace;
    }

    &[data-code] {
        padding-inline: 0.25em;
        border-radius: 0.25em;
        background: var(--text-code-bg);
        font-size: 0.95em;

        color: inherit;
        font-variant-ligatures: none;
    }

    &[data-numeric] {
        font-variant-numeric:
            tabular-nums
            lining-nums;
    }

    @each $intent in $intents {
        &[data-intent='#{$intent}'] {
            --text-color-subtle: #{intent($intent, 400)};
            --text-color-muted: #{intent($intent, 500)};
            --text-color-base: #{intent($intent, 700)};
            --text-color-strong: #{intent($intent, 900)};
        }

        @include dark {
            &[data-intent='#{$intent}'] {
                --text-color-subtle: #{intent($intent, 600)};
                --text-color-muted: #{intent($intent, 500)};
                --text-color-base: #{intent($intent, 300)};
                --text-color-strong: #{intent($intent, 100)};
            }
        }
    }

    --text-code-bg: #{intent('zinc', 100)};

    &[data-intent='secondary'] {
        --text-color-subtle: #{intent('zinc', 400)};
        --text-color-muted: #{intent('zinc', 500)};
        --text-color-base: #{intent('zinc', 700)};
        --text-color-strong: #{intent('zinc', 900)};
    }

    &[data-intent='default'] {
        --text-color-subtle: #{intent('zinc', 400)};
        --text-color-muted: #{intent('zinc', 600)};
        --text-color-base: inherit;
        --text-color-strong: #{intent('zinc', 900)};
    }

    @include dark {
        --text-code-bg: #{intent('zinc', 850)};

        &[data-intent='secondary'] {
            --text-color-subtle: #{intent('zinc', 600)};
            --text-color-muted: #{intent('zinc', 500)};
            --text-color-base: #{intent('zinc', 300)};
            --text-color-strong: #{intent('zinc', 100)};
        }

        &[data-intent='default'] {
            --text-color-subtle: #{intent('zinc', 600)};
            --text-color-muted: #{intent('zinc', 500)};
            --text-color-base: inherit;
            --text-color-strong: #{intent('zinc', 50)};
        }
    }
}