@use '../../Modal/scss/modal';
@use '../../../scss/config' as cfg;
@use 'sass:map';

$p: cfg.$prefix;
$modal-prefix: #{$p}--modal;
$offcanvas-prefix: #{$p}--offcanvas;

.#{$modal-prefix}.#{$offcanvas-prefix} {
    &[data-placement='left'] {
        --offcanvas-content-wrapper-align-items: flex-start;
        --offcanvas-content-wrapper-justify-content: flex-start;

        --offcanvas-transform-from: translateX(-100%);
    }

    &[data-placement='right'] {
        --offcanvas-content-wrapper-align-items: flex-start;
        --offcanvas-content-wrapper-justify-content: flex-end;

        --offcanvas-transform-from: translateX(100%);
    }

    &[data-placement='top'] {
        --offcanvas-content-wrapper-align-items: flex-start;
        --offcanvas-content-wrapper-justify-content: flex-start;

        --offcanvas-transform-from: translateY(-100%);
    }

    &[data-placement='bottom'] {
        --offcanvas-content-wrapper-align-items: flex-end;
        --offcanvas-content-wrapper-justify-content: flex-start;

        --offcanvas-transform-from: translateY(100%);
    }

    .#{$modal-prefix} {

        // ── Content wrapper ────────────────────────────────────────────────────
        &__content-wrapper {
            align-items: var(--offcanvas-content-wrapper-align-items);
            justify-content: var(--offcanvas-content-wrapper-justify-content);

        }

        &__content {
            &[data-animation='offcanvas-slide'] {
                &[data-animation-state='entering'] {
                    animation: #{$offcanvas-prefix}--slide-enter var(--animation-enter-duration) var(--animation-enter-easing) forwards;
                }

                &[data-animation-state='exiting'] {
                    animation: #{$offcanvas-prefix}--slide-exit var(--animation-exit-duration) var(--animation-exit-easing) forwards;
                }
            }
        }
    }
}

/*
 * Slide
 */
@keyframes #{$offcanvas-prefix}--slide-enter {
    from {
        transform: var(--offcanvas-transform-from);
    }

    to {
        transform: translate(0);
    }
}

@keyframes #{$offcanvas-prefix}--slide-exit {
    from {
        transform: translate(0);
    }

    to {
        transform: var(--offcanvas-transform-from);
    }
}