$prefix: 'dru' !default;
$dark-mode: ('class') !default;
$dark-selector: 'dark' !default;

@mixin dark {
    @each $mode in $dark-mode {
        @if $mode == 'class' {
            .#{$dark-selector} & {
                @content;
            }
        }

        @if $mode == 'media' {
            @media (prefers-color-scheme: dark) {
                @content;
            }
        }

        @if $mode == 'attribute' {
            [data-mode="dark"] & {
                @content;
            }
        }
    }
}

@mixin dark-root {
    @each $mode in $dark-mode {
        @if $mode == 'class' {
            :root.#{$dark-selector} {
                @content;
            }
        }

        @if $mode == 'media' {
            @media (prefers-color-scheme: dark) {
                :root {
                    @content;
                }
            }
        }

        @if $mode == 'attribute' {
            :root[data-mode="dark"] {
                @content;
            }
        }
    }
}