@use '../../FieldRoot/scss/field-root';
@use '../../../../scss/config' as cfg;
@use 'sass:map';

$p: cfg.$prefix;
$textarea-prefix: #{$p}--textarea;

$sizes: (
    sm: (minHeight: 72px, spacing: 6px, wrapperSpacing: 2px),
    md: (minHeight: 96px, spacing: 8px, wrapperSpacing: 4px),
    lg: (minHeight: 128px, spacing: 10px, wrapperSpacing: 6px),
);

.#{$textarea-prefix} {

    @each $size, $value in $sizes {
        &[data-size='#{$size}'] {
            --textarea-spacing: #{map.get($value, spacing)};
            --textarea-wrapper-spacing: #{map.get($value, wrapperSpacing)};
            //--min-height: #{map.get($value, minHeight)};
            --fr-field-min-h: #{map.get($value, minHeight)};
        }
    }

    --fr-field-min-h: 100%;
    --fr-field-lh: 1.5;

    --fr-slot-h: auto;

    // Optical alignment with the first line of textarea text.
    --fr-slot-pt: calc(var(--textarea-spacing) + var(--textarea-wrapper-spacing) + 0.2em);

    --fr-pt: var(--textarea-wrapper-spacing);
    --fr-pl: var(--textarea-wrapper-spacing);
    --fr-pr: var(--textarea-wrapper-spacing);
    --fr-pb: var(--textarea-wrapper-spacing);

    --fr-field-pt: var(--textarea-spacing);
    --fr-field-pb: var(--textarea-spacing);

    align-items: start;
}