.dru--icon {
    color: var(--dru-icon-color, currentColor);

    width: var(--icon-size, 1.2em);
    height: var(--icon-size, 1.2em);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    user-select: none;
    pointer-events: none;
}

.dru--icon > svg,
.dru--icon > .MuiSvgIcon-root {
    width: var(--icon-size, 1.2em);
    height: var(--icon-size, 1.2em);
    font-size: var(--icon-size, 1.2em);
}