
@use '../../functions' as functions;

@use '../../config' as cfg;
@use 'sass:map';

$p: cfg.$prefix;
$form-field-prefix: #{$p}--form-field;

$sizes: (
    sm: (
        fieldGap: 4px,

        labelFontSize: 13px,
        messageFontSize: 12px,

        labelLineHeight: 1.3,
        messageLineHeight: 1.4,
    ),

    md: (
        fieldGap: 6px,

        labelFontSize: 14px,
        messageFontSize: 13px,

        labelLineHeight: 1.35,
        messageLineHeight: 1.45,
    ),

    lg: (
        fieldGap: 8px,

        labelFontSize: 16px,
        messageFontSize: 14px,

        labelLineHeight: 1.4,
        messageLineHeight: 1.5,
    )
);

@mixin applySize($size) {
    $conf: map.get($sizes, $size);

    --field-gap: #{map.get($conf, fieldGap)};

    --label-fs: #{map.get($conf, labelFontSize)};
    --message-fs: #{map.get($conf, messageFontSize)};

    --label-lh: #{map.get($conf, labelLineHeight)};
    --message-lh: #{map.get($conf, messageLineHeight)};
}

.#{$form-field-prefix} {

    @include applySize(md);
    @each $size, $value in $sizes {
        &[data-size='#{$size}'] {
            @include applySize($size);
        }
    }

    display: flex;
    flex-direction: column;
    gap: 4px;

    .#{$p}--sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .#{$p}--label {
        font-size: var(--label-fs);
        color: var(--text);
        display: inline-flex;
        align-items: center;
        margin-bottom: var(--field-gap);
    }

    .#{$p}--message {
        margin-top: var(--field-gap);
        font-size: var(--message-fs);
        line-height: var(--message-lh);
    }

    .#{$p}--hint {
        color: var(--#{$p}-text-muted);
    }

    .#{$p}--error {
        color: var(--#{$p}-text-danger-strong);
    }

    &[data-required] .#{$p}--label {
        font-weight: 500;
    }

    &[data-invalid] .#{$p}--label {
        color: var(--#{$p}-text-danger);
    }

}