@use '../../functions' as functions;
@use '../../mixins' as mixins;

@use '../../config' as cfg;
@use 'sass:map';

$p: cfg.$prefix;
$dropdown-prefix: #{$p}--dropdown;

$sizes: (
    sm: (
        optionHeight: 26px,
        optionPaddingX: 10px,
        menuPaddingY: 4px,
    ),

    md: (
        optionHeight: 32px,
        optionPaddingX: 14px,
        menuPaddingY: 6px,
    ),

    lg: (
        optionHeight: 38px,
        optionPaddingX: 18px,
        menuPaddingY: 8px,
    ),
);

.#{$dropdown-prefix} {

    --menu-bg: #{functions.intent-color('gray', 200)};

    --option-transition:
        var(--#{$p}-duration-fast)
        var(--#{$p}-ease-standard);

    --option-bg: transparent;

    --option-bg-hover: #{functions.intent-color('zinc', 100)};
    --option-bg-focus: #{functions.intent-color('zinc', 150)};
    --option-bg-active: #{functions.intent-color('zinc', 200)};

    --option-bg-selected: #{functions.intent-color('primary', 100)};
    --option-bg-selected-focus: #{functions.intent-color('primary', 150)};
    --option-bg-selected-active: #{functions.intent-color('primary', 200)};

    --option-text: inherit;
    --option-text-focus: inherit;
    --option-text-selected: #{functions.intent-color('primary', 800)};

    --option-text-disabled: #{functions.intent-color('zinc', 500)};

    --option-outline-focus: #{functions.intent-color('zinc', 400)};

    @each $size, $value in $sizes{
        --option-height: #{map.get($value, optionHeight)};
        --option-padding-x: #{map.get($value, optionPaddingX)};
        --menu-padding-y: #{map.get($value, menuPaddingY)};
    }

    //@each $size, $value in $sizes {
    //    &[data-size='#{$size}'] {
    //        --height: #{map.get($value, height)};
    //        --min-height: auto;
    //        --fs: #{map.get($value, fontSize)};
    //    }
    //}

    //.#{$p}--slot-end, .#{$p}--slot-start {
    //    pointer-events: none;
    //}

    .#{$dropdown-prefix}__trigger {
        display: inline-flex;

        &:focus,
        &:focus-visible {
            outline: none;
            box-shadow: none;
        }
    }

    .#{$dropdown-prefix}__menu {
        min-width: max-content;
        //max-width: min(24rem, calc(100vw - 1rem));
        //max-height: calc(
        //    (var(--option-height) *
        //    var(--visible-options)) +
        //    var(--menu-padding-y)
        //);

        z-index: 1000;

        //display: flex;
        //flex-direction: column;

        padding-top: var(--menu-padding-y);
        padding-bottom: var(--menu-padding-y);

        background-color: var(--menu-bg);
        border: 1px solid var(--menu-border);

        //overflow-y: scroll;
        isolation: isolate;
        backdrop-filter: blur(12px);

        //transform-origin: top;
        //overflow: hidden;

        //transition:
        //    opacity var(--#{$p}-duration-fast) var(--#{$p}-ease-standard),
        //    transform var(--#{$p}-duration-fast) var(--#{$p}-ease-standard);

        //&[data-state='closed'] {
        //    opacity: 0;
        //    transform: scale(0.98);
        //    pointer-events: none;
        //}
        //
        //&[data-state='open'] {
        //    opacity: 1;
        //    transform: scale(1);
        //}
    }

    .#{$dropdown-prefix}__menu-wrapper {
        min-width: max-content;
        max-height: calc(
            var(--option-height) *
            var(--visible-options)
        );

        display: flex;
        flex-direction: column;

        overflow-y: scroll;
    }

    .#{$dropdown-prefix}__search-wrapper {
        padding: 5px var(--option-padding-x);
    }

    .#{$dropdown-prefix}__search-results {

    }

    &__option {
        @include mixins.reset-button;

        //&:focus {
        //    outline: 1px solid blue;
        //}
        //&:focus,
        //&:focus-visible {
        //    outline: none;
        //    box-shadow: none;
        //}
    }

    .#{$dropdown-prefix}__option-wrapper {
        &:focus,
        &:focus-visible {
            outline: none;
            box-shadow: none;
        }
    }

    .#{$dropdown-prefix}__option {
        background-color: var(--option-bg);
        height: var(--option-height);
        padding: 0 var(--option-padding-x);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--option-text);
        transition:
            background-color var(--option-transition),
            color var(--option-transition);
        user-select: none;

        &:not([data-disabled]) {
            &:hover {
                background: var(--option-bg-hover);
            }

            &[data-pseudo-focused] {
                background: var(--option-bg-focus);
                color: var(--option-text-focus);

                box-shadow:
                    inset 0 0 0 1px var(--option-outline-focus);
            }

            &[data-pseudo-active] {
                background: var(--option-bg-active);
            }

            &[data-selected] {
                background: var(--option-bg-selected);
                color: var(--option-text-selected);
                font-weight: 500;

                &[data-pseudo-active] {
                    background: var(--option-bg-selected-active);
                }
            }

            &[data-selected][data-pseudo-focused] {
                background: var(--option-bg-selected-focus);
            }
        }

        &[data-disabled] {
            color: var(--option-text-disabled);
            cursor: default;

            opacity: 0.5;
        }
    }
}