@use '../../functions' as functions;
@use '../../mixins' as mixins;

@use '../../config' as cfg;
@use 'sass:map';

$p: cfg.$prefix;
$tags-input-prefix: #{$p}--tags-input;

$sizes: (
    sm: (height: 32px, spacingY: 6px, spacingTop: 8px),
    md: (height: 40px, spacingY: 10px, spacingTop: 12px),
    lg: (height: 48px, spacingY: 12px, spacingTop: 15px),
);

.#{$tags-input-prefix} {
    display: inline-flex;
    flex-wrap: wrap;
    --slot-h: auto;
    --height: auto;
    gap: var(--gap);

    @each $size, $value in $sizes {
        &[data-size='#{$size}'] {
            --min-height: #{map.get($value, height)};
            --top-offset: #{map.get($value, spacingTop)};
            --y-offset: #{map.get($value, spacingY)};
        }
    }

    --slot-pt: var(--top-offset);
    --pl: calc(var(--start-width) + var(--spacing-x) + var(--gap));
    --pr: calc(var(--end-width) + var(--spacing-x) + var(--gap));
    --pt: var(--y-offset);
    --pb: var(--y-offset);

    &[data-full-width]{
        display: flex;
    }

    .#{$p}--field {
        flex: 0 0 auto;   // force override
        width: auto;      // CRITICAL
        min-width: 20px;

        max-width: 100%;

        height: auto;
        padding: 0;
    }

    .#{$p}--mirror {
        position: absolute;
        visibility: hidden;
        white-space: pre;

        font: inherit;         // 👈 VERY important
        letter-spacing: inherit;

        padding: 0;
        margin: 0;
    }

    .#{$p}--tag-edit {
        @include mixins.reset-input;

        flex: 0 0 auto;
        min-width: 20px;
        max-width: 100%;
        width: auto;

        caret-color: currentColor;

        height: auto;

        // spacing to match chip
        padding-inline: calc(var(--gap) * 0.75);

        // prevent layout shift
        display: inline-flex;
        align-items: center;
    }

    .#{$p}--tag {
        &[data-disabled] {
            pointer-events: none;
        }
        &[data-active] {
            outline: none;
        }
    }
}